[2019-06-27 02:53] tonistiigi commented on #943
this was fixed in https://github.com/moby/moby/pull/39349

[2019-06-27 02:53] #943 closed

[2019-06-27 03:56] AkihiroSuda commented on #1061
See https://github.com/moby/buildkit/pull/605/files#diff-866b39d005df742e1d084878cf4f5bd1R32

[2019-06-27 08:36] thaJeztah commented on #943
Opened a backport for the Docker 19.03 release branch in https://github.com/docker/engine/pull/290. It may not make it for Docker 19.03.0 release, but may get into the first patch release (19.03.1)

[2019-06-27 21:11] seemethere opened #1062 "buildkitd fails to resolve digest for third party registries"
## Summary
`buildkitd` fails to build when doing a `FROM ${image from third party registry}`

## Versions

Versions for this were built directly from current master (https://github.com/moby/buildkit/commit/a61393a5bc78d34458bc1d1b60dac16cfdec92db as of time of reporting)

buildctl:
[code]

buildkitd:
[code]

## Reproduction case

1. Do `sudo make && make images && sudo make install` first

2. Then

[2019-06-27 21:38] seemethere commented on #1062
Looks like this is related to https://github.com/containerd/containerd/issues/3238

[2019-06-27 21:45] seemethere commented on #1062
It appears as though a revendor to https://github.com/containerd/containerd/commit/7c1e88399ec0b0b077121d9d5ad97e647b11c870 should resolve the issue

[2019-06-28 10:55] varlucian commented on #1004
Will the issue be backported to 18.06?
If not, what is the workaround?

[2019-06-28 10:57] thaJeztah commented on #1004
18.06 is EOL, so it won't be backported to that version

[2019-06-28 12:50] varlucian commented on #1004
Sorry, I meant 18.09 not 18.06

[2019-06-28 13:34] crevao commented on #978
I'm also very interested in this!

[2019-06-28 18:16] #1056 closed

[2019-06-28 18:44] tonistiigi commented on #1057
[code]

[2019-06-28 18:45] tonistiigi commented on #1057
[code]

[2019-06-28 18:49] tonistiigi commented on #1057
[code]

I think the difference is that you had the ubuntu image locally in `docker images` for x86 while you didn't have alpine. If image exists locally it is always used instead of accessing the registry. This isn't really obvious and hopefully can be fixed with containerd storage integration(atm we do not have platform information for local images). Currently, it should always work correctly if

[2019-06-28 18:54] tonistiigi commented on #1058
If we only reset times in differ it is little unsafe because snapshots in local build cache and remote build cache will have different timestamps. But if we reset in snapshot it will be 1) slow 2) confuse the containerd naive differ.

I guess the first is fine if this is opt-in from the user and clearly marked as an exporter feature.

With a custom (eg. fuse based) snapshotter+differ we could do t

[2019-06-28 18:54] #1061 closed

[2019-06-28 18:56] tonistiigi commented on #1059
Yes, I get `failed to create LLB definition: circular dependency detected on stage: builder` in 19.03 for above dockerfile.

[2019-06-28 18:56] #1059 closed

[2019-06-29 17:37] #1062 closed

[2019-06-30 15:55] KadenLNelson commented on #724
https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md I just tried settings the `uid` and `gid` with the cache mount type, and no luck, I'm assuming this feature is not supported yet?

[2019-06-30 16:05] arn95 commented on #724
Make sure you’re on master. The uid/gid for cache mounts commit hasn’t been merged into the versioned/release branches.

@tonistiigi Thank you!

[2019-06-30 16:16] KadenLNelson commented on #724
Thanks for the information @arn95

[2019-06-30 19:49] cedrickring opened #1065 "Encoded URLs are interpreted as string format"
Dockerfile

    ENV TEST_URL "http://httpbin.org/get?23%2B23=!23"
    RUN curl $TEST_URL

should print

    {
      "args": {
        "23+23": "!23"
      },
      ...
    }

but prints

[code]

I'm using `DOCKER_BUILDKIT=1 docker build -t tag .`. Without Buildkit the url works.
(Docker for Mac, Docker Client and Server version 18.09.2)

Maybe this is related to #779.

[2019-07-01 05:08] grooverdan commented on #1057
Thanks so much for the reproduction and explanation. You're undoubtedly right about ubuntu being local, I just haven't managed to remove it (even with `--pull` and/or `--no-cache`).

Is there a containerd issue tracking the lack of platform information? I couldn't see it in the resolved or open list.

[2019-07-01 09:13] thaJeztah commented on #1057
@grooverdan I think @tonistiigi is referring to https://github.com/moby/moby/issues/38043 (which is a big change, but actively being worked on)

[2019-07-01 10:32] leonlau opened #1066 "buildkit mode cpu quota does not work"
hi,
I am using the  buildkit mode and found that it does not take effect when using the following parameters.

Is there a problem with my use?

[code]

[code]

[2019-07-01 22:35] tonistiigi commented on #1066
#593

[2019-07-02 17:13] #1030 closed

[2019-07-02 17:13] #1031 closed

[2019-07-02 17:13] #1037 closed

[2019-07-02 21:28] #1065 closed

[2019-07-04 08:35] Stono opened #1069 "mode not allowed when attempting to use cache mount"
Hi,
I'm getting the following when attempting to use `mode`, `uid` or `gid` with a mount:

[code]

example line:
[code]

[code]

[2019-07-04 15:05] gabrieldemarmiesse opened #1070 "Feature request: Option to disable dead branch elimination."
Hello and thanks for buildkit, it's awesome!

In my Dockerfile there are some dead branches, to run tests and ensure that the resulting image works correctly. Problem is, if there was no dead branch elimination, those tests would run in parallel, which would be very nice. Instead they are not executed at all. Here is an example:

[code]

The only way I found to force them to run is to do this, but

[2019-07-04 15:17] FernandoMiguel commented on #1070
My understanding is that this is the exact behaviour buildkit modified from the old Docker build.
To be able to skip layers that are not used, and not build them

[2019-07-04 15:41] gabrieldemarmiesse commented on #1070
I totally agree with you, and this is a very good default behavior! I just though that some users would find useful an option to disable it for certain specific branches for running tests. For example:

[code]

If you think it's a burden on the API that is fine.

[2019-07-04 22:58] tonistiigi commented on #1070
You can use `docker buildx bake` for this https://github.com/docker/buildx . Just define all the targets you want to build in a group and they will all be built in parallel with a single progressbar. You can even set different sets of arguments for your test stages etc.

[2019-07-04 23:01] tonistiigi commented on #1069
This feature is not in a versioned dockerfile yet. See https://github.com/moby/buildkit/blob/dockerfile/1.1.1-experimental/frontend/dockerfile/docs/experimental.md for the correct docs.

You can use `#syntax=docker/dockerfile-upstream:master-experimental` for the current master build.

[2019-07-05 08:53] Stono commented on #1069
Oh that worked a treat, thank you @tonistiigi

[2019-07-05 08:53] #1069 closed

[2019-07-05 18:50] gabrieldemarmiesse commented on #1070
Thanks a lot! I'll test it once 19.03 is stable.

[2019-07-09 10:49] HerrmannHinz commented on #409
@jzelinskie could you please add `mercedesbenzio` ?

[2019-07-09 10:53] AkihiroSuda commented on #972
It worked! https://github.com/weber-software/diuid/pull/5 https://twitter.com/_AkihiroSuda_/status/1148543910882361345

[2019-07-09 17:15] andrewrynhard commented on #950
Friendly ping to see if this is planned for being done soon?

[2019-07-09 18:27] stealthybox commented on #972
would it be difficult to swap this out?

[2019-07-09 18:42] tonistiigi commented on #972
The initial benchmarks are not very promising though

[code]

[2019-07-10 05:34] AkihiroSuda commented on #972
slower than qemu VM?

[2019-07-10 05:36] AkihiroSuda commented on #972
@stealthybox

that requires implementing ancient SLIP in slirp4netns :(

[2019-07-10 17:48] hach-que opened #1072 "RUN --mount=type=cache causes the whole build context to be loaded in"
We're using buildkit because it drastically reduces the size of the build context that needs to be copied across during builds. However, it looks like `RUN --mount=type=cache` causes the entire build context to be copied for some reason.

Before:

[code]

[code]

After:

[code]

[code]

This is on Windows 10 with experimental features enabled in Docker.

[2019-07-11 06:31] AkihiroSuda opened #1074 "Deprecate non-TLS TCP connection"

[2019-07-11 17:28] raizoor commented on #1011
@tonistiigi

I have found an explanation about that:

JFrog Artifactory have a bug. It compress the images and when we pull, it informs the manifest of compressed image, not the original size. It crash the manifest validation.

Thanks for your help!

[2019-07-11 17:28] #1011 closed

[2019-07-12 19:21] DimanNe opened #1078 "docker build regression: GDBus.Error:org.freedesktop.DBus.Error.ServiceUnknown: The name org.freedesktop.secrets was not provided by any .service files"
Docker was working perfectly fine, but recently it stopped building the simplest possible Dockerfile, such as this one:
[code]
Here is the output:
[code]

Do you have any ideas of what might be wrong?

[code]

[code]

[2019-07-12 19:57] thaJeztah commented on #1078
Do you happen to have the "secret service" docker credential helper installed?

[2019-07-12 20:17] tonistiigi commented on #1078
The error is on getting the credentials. Post docker cli config (if you already didn't figure it out based on @thaJeztah comment). Mask the passwords before posting.

[2019-07-12 20:37] thaJeztah commented on #1078
Yes, I think this is because of the `secretservice` credential helper (was answering from my phone earlier); that helper cannot run headless / non-interactive, which is what I suspect happens here; see https://github.com/moby/moby/issues/25169

Instead of the `secretservice` credential helper, you can use the `pass` credentials-helper, which is able to run headless; see https://github.com/docker/c

[2019-07-12 21:10] DimanNe commented on #1078
Thank you for the quick response.
So, I have docker-credential-helpers installed
[code]

I also managed to find a workaround - installing `gnome-keyring` fixes the issue.

And finally,

Not sure whether I understood you correctly or not, but I am running it NOT in headless mode - I am trying to build images on my regular home PC.

[2019-07-14 15:46] NobodyXu opened #1079 "Docker 18.09.7 nil pointer panic in builder-next/adapters/containerimage.(*cachedResolver).Resolve"
I am using `Docker version 18.09.7, build 2d0083d` on `raspbian` buster, installed by adding debian buster’s mirror to my raspberry pi 3B+ and its `linux` kernel version is 4.19.57-v7+.

I ran the following `Dockerfile` in the build dir with command `env DOCKER_BUILDKIT=1 docker build .`:

[code]

given that `docker image ls -a` shows no image, the command failed with following output:

[code]

Ed

[2019-07-15 12:18] AkihiroSuda commented on #1079
if you have registry-mirror configuration in /etc/docker/daemon.json, you might need to remove it

[2019-07-15 12:19] #1072 closed

[2019-07-15 15:28] hach-que commented on #1072
Is there a timeline / ETA for when this fix will be in Docker for Windows? Is there a way we can use a fixed version with Docker ahead of it's release there?

Right now buildkit is something that is turned on with an environment variable `DOCKER_BUILDKIT=1`, but I have no idea how to point Docker at a different version.

[2019-07-15 16:14] tonistiigi commented on #1079
`unexpected EOF` also hints that you should have something in the daemon logs.

[2019-07-15 16:17] AkihiroSuda commented on #1072
With docker buildx you can always use the latest BuildKit with an old Docker daemon

[2019-07-15 17:09] tonistiigi commented on #1072
@hach-que You can start using/testing this fix by switching the syntax line to `#syntax=docker/dockerfile-upstream:master-experimental`. That will work with any docker version that has buildkit support. We'll probably do a new versioned release this week.

[2019-07-15 18:58] hach-que commented on #1072
Oh, that's super convenient. I had no idea it worked like that.

[2019-07-16 02:49] sj26 opened #1080 "dockerfile: experimental ADD/COPY --chmod=..."
I know there's [a rich history](https://github.com/moby/moby/issues/34819) for adding an `ADD/COPY --chmod=...` flag similar to the `--chown=...` flag to the Dockerfile syntax, but I don't see a feature request here in this repo where it [seems to belong](https://github.com/moby/moby/issues/34819#issuecomment-421793031) — could we amend the [Dockerfile experimental frontend syntax](https://github.

[2019-07-16 03:54] NobodyXu commented on #1079
My `/etc/docker/daemon.json`:

[code]

`docker info`:

[code]

[2019-07-16 05:57] NobodyXu commented on #1079
@tonistiigi I’ve appended the `journalctl` output for `dockerd` for the first build in my original post.

[2019-07-16 06:01] AkihiroSuda commented on #1079
buildkit w/ userns-remap is unsupported in Docker 18.09  (supported in Docker 19.03)

[2019-07-16 06:09] NobodyXu commented on #1079
@AkihiroSuda I disabled userns-remap, but the first build still fail with the same message and the following `journalctl` output:

[code]

[2019-07-16 22:49] tonistiigi commented on #1079
@AkihiroSuda Can't quite see how a nil dereference can happen there. Do you?

[2019-07-16 22:57] tonistiigi commented on #1079
This seems to be go issue https://github.com/golang/go/issues/599

[2019-07-16 23:02] tiborvass commented on #1079
@NobodyXu can you also provide the output of `docker version` and `docker info` please ?

[2019-07-16 23:53] tbarrella opened #1083 "PreStop hook for buildkitd container?"
Hello,

Thank you for the kube-consistent-hash example, which seems to work out of the box!

I was wondering if there's a way to write a preStop hook or similar for the buildkitd container so that the StatefulSet could safely be updated without disrupting any builds. Maybe not...

[2019-07-17 02:31] tiborvass commented on #824
I'm closing this as `--progress plain` contains all the desired output, and now since https://github.com/moby/buildkit/pull/916 was merged `--progress tty` also shows output for the duration of the RUN step. Thanks!

[2019-07-17 02:31] #824 closed

[2019-07-17 05:34] #1079 closed

[2019-07-17 06:29] NobodyXu commented on #1079
@tiborvass Here is my `docker version`:

[code]

[2019-07-17 12:29] xkszltl opened #1084 "Secret mount option "required=false" is not supported"
Docker-CE 18.09.7

I'm using buildkit to mount secret.
It is enabled both in daemon.json and env var, and the syntax docker is specified correctly in Dockerfile.

According to https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md, I set required=false, which is the default but not bad to have.

![image](https://user-images.githubusercontent.com/5203025/61375341-8c3b

[2019-07-17 15:42] tiborvass commented on #1079
@NobodyXu thanks Tonis figured it out in the end, it was an alignment issue on 32 bit systems.

[2019-07-17 22:27] wholenewstrain opened #1086 "Getting error from sender <path>: Access is denied. When context is being transferred on Windows 10 and path is longer than 260 characters"
$ docker version
Client: Docker Engine - Community
 Version:           18.09.2
 API version:       1.39
 Go version:        go1.10.8
 Git commit:        6247962
 Built:             Sun Feb 10 04:12:31 2019
 OS/Arch:           windows/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          18.09.2
  API version:      1.39 (minimum version 1.12)
  Go version:

[2019-07-21 13:52] FernandoMiguel commented on #1009
I'm very curious as to way this symlink would be needed @tonistiigi !

[2019-07-21 19:23] FernandoMiguel commented on #1009
anyway, for anyone finding this in the future, if you create the symbolic link, and later reuse that layer, DON'T try to recreate the symlink.... that cost me several minutes to debug

[2019-07-21 19:44] tonistiigi commented on #1009
It's just apk behavior documented in https://wiki.alpinelinux.org/wiki/Local_APK_cache . Presumably to avoid caching by default that would just bloat the images with extra tarballs.

[2019-07-21 21:41] SaturnusDJ commented on #1009
Would this be a fix for https://github.com/docker/buildx/issues/110?
I would not understand that then because I am using `--no-cache` everywhere to prevent cache ever being used.

[2019-07-22 07:03] mruoss opened #1088 "Build hangs on step "load build definition from Dockerfile""
Hi there

On our current setup we build docker images on kubernetes using `builtctl` with `--addr=kube-pod://buildkitd-0`.

The buildkit daemon is running as a StatefulSet with image `moby/buildkit:master-rootless` and `--oci-worker-gc-keepstorage 55000` and `--oci-worker-no-process-sandbox`, scaled to 1 instance with a 60G volume attached to it.

After a couple hundred of images are built success

[2019-07-22 12:49] xkszltl commented on #1088
I'm running into similar issues for a while.
Is this related: https://github.com/moby/buildkit/issues/991

[2019-07-22 13:44] xkszltl commented on #1072
@tonistiigi
I tried the syntax docker with docker-ce 18.09.8 and 19.03 (rc) but failed.
18.09.8 says `exit code: 2` and 19.03 says `frontend grpc server closed unexpectedly`.
![image](https://user-images.githubusercontent.com/5203025/61637243-06051880-ac4c-11e9-97cb-c3897ce261f7.png)
![image](https://user-images.githubusercontent.com/5203025/61637299-1cab6f80-ac4c-11e9-9c99-8f679d3e54e9.png)

[2019-07-22 13:52] xkszltl commented on #1072
I even tried the docker-ce nightly, and that seems working, but not always.
There was 1 time where I got
![image](https://user-images.githubusercontent.com/5203025/61637616-be32c100-ac4c-11e9-84e4-2b2119595d21.png)

[2019-07-22 18:00] tonistiigi commented on #1072
@xkszltl Please post daemon logs. Feel free to create a new issue as it doesn't look your issue is related to the original post.

[2019-07-22 21:12] tonistiigi commented on #1088
#991 could be related by it was (mostly) related to `--cache-from`. For stalls, please post a stacktrace while the daemon is stuck (easiest to send sigquit).

[2019-07-22 23:47] agosto-karlkroening commented on #970
Exact same issue here. Currently, the only way I can get gcloud credentials mounted into the container build context is to write a gnarly wrapper script that tars the `~/.config/gcloud` directory and injects it into the container, and then extracting it as part of the run step while being careful to clean it up afterwards. It would be a lot smoother if `--mount=type=secret` could just point at a d

[2019-07-23 06:21] xkszltl commented on #1072
This is captured from journalctl with debug log enabled.

[code]

[2019-07-23 06:56] xkszltl opened #1090 "Error when using docker/dockerfile-upstream:master-experimental"
System:
  - CentOS 7 host
  - Docker-CE nightly, with buildkit/experimental/debug enabled in daemon.json.

We run into the following error during build.
Not always, but very frequently.
[code]

Here's the full log
[code]

[2019-07-23 06:57] xkszltl commented on #1072
@tonistiigi  I opened https://github.com/moby/buildkit/issues/1090 to track this

[2019-07-23 07:21] xkszltl commented on #1090
Similar issue also found with docker/dockerfile:experimental.
Sometimes if I keep switching between these two, it may work.

The background here is, I ran into the stall issue with buildkit and trying to figure out the proper way around.
So I upgrade the docker-ce nightly.
The stall issue is gone and replaced by the error.

[2019-07-24 00:33] agosto-karlkroening commented on #970
Here's a workaround:
[code]
Then in the container, mount the secret in some temporary directory, extract it to `~/.config/gcloud`, and then be sure to remove it before the end of the `RUN` step:
[code]
However, it appears that there's a (seemingly arbitrary) limit of 500kb to the size of the secret, so if there's any extra stuff in your gcloud config, special care has to be taken to scrub it and i

[2019-07-24 01:35] benbuzbee commented on #973
@nicks @tiborvass could you confirm these changes are in docker 19.03.0?  I see this behavior still, the output of the following

[code]

is

[code]

Note the change in ownership of /test after WORKDIR from alice to root

The output of `docker version` is
[code]

[2019-07-24 12:41] giannello commented on #1084
Same issue here, the documentation is misleading.
To mark a secret as required, just add `required` and not `required=true`. `required=false` won't work, omitting the option is enough.

[2019-07-24 18:10] wholenewstrain commented on #1086
Steps to re-create:
Enable long paths on Windows 10
Create a long path in a project, longer than 260 characters \aaa\bbb\ccc .....
Create a Dockerfile and make sure context will include the created long path
Enable build kit

Run docker build -f Dockerfile .
Getting Access denied error when sending context

[2019-07-24 18:45] StrongMonkey commented on #407
Is there a workaround for this? I am hitting this issue when using containerd driver.

[2019-07-24 23:29] tonistiigi commented on #407
This should be fixed in containerd 1.2 https://github.com/containerd/containerd/pull/2502 . Tested with a 100 layer dockerfile.

[2019-07-24 23:29] #407 closed

[2019-07-25 10:47] mruoss commented on #1088
Hi @tonistiigi
Yes absolutely. Can you quickly tell me what to do? So inside my pod I just send a sigquit to the process? Where will I see the stacktrace?

[2019-07-25 10:51] mruoss commented on #1088
Alright, I found out. Next time it happens I will upload the stacktrace.

[2019-07-25 11:00] mruoss commented on #1088
Actually, I think I have found the problem. The 60G volume I mounted on `/home/user/.local/share/buildkit` is full. Now I'm running the daemon with  `--oci-worker-gc-keepstorage 55000`. Shouldn't the GC collect some of this data?

[2019-07-25 21:40] denzp opened #1091 "Attempt to mount an overlay layer that is already in-use"
The problem happens when I build an LLB graph with parallel operations and mounts with selector.

The `buildctl` output is basically:
[code]

dmesg:
[code]

After some digging and debugging, I've figured out a minimal reproducible example!

`buildctl debug dump-llb --dot`:
![debug](https://user-images.githubusercontent.com/747869/61909720-2f1af700-af33-11e9-99fe-5ddb84852a47.png)

`buildctl debug

[2019-07-26 23:06] tonistiigi commented on #1091
Can you post a binary of the llb if this isn't generated by go. Also post the version you are using.

[2019-07-27 00:13] tonistiigi commented on #1080
Yes, this is possible. No LLB/solver changes should be required.

[2019-07-27 11:07] denzp commented on #1091
Thank you for checking it out! I'm using 9336f89e1fed39901a303996da63f4135c6216fe, but at least `v0.5.1` is also affected.

[broken.binary-llb.gz](https://github.com/moby/buildkit/files/3438100/broken.binary-llb.gz)

[2019-07-27 19:48] FernandoMiguel opened #1097 "php build fails when cache is enabled"
Adding `--mount=type=cache,id=apk,sharing=locked,target=/var/cache/apk ln -vs /var/cache/apk /etc/apk/cache && \` to the following Dockerfile, makes it failt to build on linux
Funny enough works fine on macos

[code]

[code]

[code]

macos
[code]

Ubuntu 19.04
[code]

[2019-07-27 20:05] thaJeztah commented on #1097
could you also post the output of `docker info` for the Ubuntu machine?

Is there anything in the daemon logs that's giving more information on that machine?

[2019-07-27 20:58] FernandoMiguel commented on #1097
[code]

I'll try to get logs from a fresh run

[2019-07-27 21:28] tonistiigi commented on #1091
@denzp Couldn't reproduce this on my side. Might be related to overlay changes in newer kernels. What kernel are you using?

[2019-07-27 22:03] denzp commented on #1091
Oh, that's interesting. I was able to reproduce the behavior on the following kernels:
* `5.2.3` (my primary),
* `4.20.6` (just a random older kernel),
* `4.19.61` (LTS kernel in my linux distro).

It might have been [introduced in 4.13](https://lore.kernel.org/patchwork/patch/839485/), but the actual problem could be unrelated to the kernel change because the latter was quite a while ago.

[2019-07-28 05:48] tonistiigi commented on #1091
Hmm. Tested with
[code]
and
[code]

[2019-07-28 05:49] tonistiigi commented on #1091
Hmm. Tested with
[code]
and
[code]

and the binary you posted seemed to build fine for me.

[2019-07-28 08:25] denzp commented on #1091
I wasn't able to reproduce this on a DO droplet either:
[code]

But I noticed, there were warnings in dmesg:
[code]

So, I've compared kernel build configs.

DO instance:
[code]

Local machine:
[code]

Voila! The mistery is solved! Arch Linux ships kernels built with `CONFIG_OVERLAY_FS_INDEX=y`, so the warnings become hard errors.

Do you think it makes sense / possible to change the buildkit beha

[2019-07-28 13:33] FernandoMiguel commented on #1097
on a new builder, now I can't reproduce the failure :\
[code]

[code]

[code]

[code]

[2019-07-28 14:16] FernandoMiguel opened #1099 "pip wheel bustes cache"
[code]

[code]

.jenkins/buildx.images-base.1.yml
[code]

.jenkins/docker-compose.images-base.1.yml
[code]

this is the 2nd run, after cache has been created from a previous successful build
[code]

[2019-07-28 14:28] FernandoMiguel commented on #1099
here is docker-compose second run
[code]

[2019-07-28 14:30] FernandoMiguel commented on #1099
in this screenshot you can see 4 runs.
from the bottom up:
buildx 1st run
buildx 2nd run (should have cached but actually took even longer)
docker-compose 1st build with no cache
docker-compose 2nd run (everything was cached from the 1st build, so was very quick)

<img width="831" alt="Screenshot 2019-07-28 15 26 50" src="https://user-images.githubusercontent.com/168366/62008011-6b756f80-b14c-11e9

[2019-07-28 14:31] FernandoMiguel commented on #1099
[code]

[2019-07-29 02:27] tonistiigi commented on #1099
Am I right to assume that these builds happen from different checkouts? A common thing that is not guaranteed to be deterministic is the `.git` folder. You can filter the `COPY` command to only include the files that you need or use add `.git` to `.dockerignore`. If you are not sure what gets changed you can print the shasum of all fo the files before the job.

[2019-07-29 05:02] FernandoMiguel commented on #1099
@tonistiigi the build setup checkout the same commit id
And in this case I even disabled all the checkouts so it would use the same files on disk
All repos have a .dockerignore with .git and Dockerfile/buildx listed inside

This is just one example, and I have have several more services doing the same.

[2019-07-29 05:08] tonistiigi commented on #1099
@FernandoMiguel Can you post an example that is reproducible?

[2019-07-29 05:16] FernandoMiguel commented on #1099
@tonistiigi since I'm running this against our organisation code base, I can't share that code.
But I'll try to mimic the build behaviour with an hello world example.
I'll algo get the file hashes just to double check the build context is the same.
Is there a way to see from the Docker agent if the context hasn't change?

[2019-07-29 20:00] tonistiigi commented on #1088
@mruoss It should. There could be a counting mismatch somewhere. You can check with `buildctl du` how much storage the buildkit daemon thinks it is using.

[2019-07-29 21:31] tonistiigi commented on #1099
As this seems to be the last layer that loses the cache it might also be that is gets cleaned up by gc. You can try to turn it off of set a bigger limit. If you run with debug logs you can see the gc invocations from the logs.

[2019-07-29 21:34] FernandoMiguel commented on #1099
@tonistiigi I've seen it happen with intermediary layers too.

How can I increase the cache?
We are talking of about 17GB of data (looking at system prune output).
These builders come with 150GB of ephemeral SSD, so it ain't a problem

[2019-07-29 21:44] tonistiigi commented on #1099
@FernandoMiguel `--oci-worker-gc=false` to turn off `--oci-worker-gc-keepstorage=` to control it (more detailed control with the config file). BuildKit is conservative by default and doesn't want to eat away your whole disk. Also, I can't see that driver/exporter you are using. If you export to the docker image store than this data is not released automatically and it can't be the issue then. If y

[2019-07-29 21:47] FernandoMiguel commented on #1099
cheers @tonistiigi

[2019-07-29 21:49] FernandoMiguel commented on #1099
it exports to the local docker registry on the host.
`docker-compose push` is used later to push all images of the build

[2019-07-29 23:23] FernandoMiguel commented on #1099
i spent a while on this, but can't find a way to enable debug or gc=false, when using `buildx bake`
some guidance would be appreciated

[2019-07-29 23:24] tonistiigi commented on #1099
https://github.com/docker/buildx/pull/102

[2019-07-29 23:31] FernandoMiguel commented on #1099
@tonistiigi thanks.
I tried that, but buildx inspect doesn't show that flag
And docker logs of the buildkit id is very quiet too

[2019-07-29 23:34] tonistiigi commented on #1099
I don't know what you mean by inspect, the flag is for `create`. This PR is not in a release build, you would need to build it yourself.

[2019-07-29 23:35] FernandoMiguel commented on #1099
@tonistiigi I see. Thanks. I'll give it another go tomorrow

[2019-07-29 23:51] #1084 closed

[2019-07-30 00:14] tiborvass commented on #973
@benbuzbee the original issue that you reported is fixed in 19.03, but the one you mentioned in https://github.com/moby/buildkit/issues/973#issuecomment-514443912 is a slightly different issue. That was just fixed in https://github.com/moby/buildkit/pull/1095 and we'll likely get it into a patch release of Docker 19.03.

[2019-07-30 22:11] #1091 closed

[2019-07-31 05:28] #990 closed

[2019-07-31 15:45] talex5 opened #1105 "FROM <hash> fails with DOCKER_BUILDKIT=1 (but OK without)"
This script builds the image with `DOCKER_BUILDKIT=0`, but not with `DOCKER_BUILDKIT=1`:

[code]

With old `docker build`:

[code]

With BuildKit:

[code]

[2019-07-31 15:47] FernandoMiguel commented on #1105
there seems to be an extra colon at the end of the FROM

[2019-07-31 19:10] FernandoMiguel commented on #1099
[code]

[code]

[code]

[2019-07-31 19:22] FernandoMiguel commented on #1099
<img width="194" alt="Screenshot 2019-07-31 19 58 21" src="https://user-images.githubusercontent.com/168366/62241332-df27ae80-b3d0-11e9-86ce-022d475fb813.png">
this is a docker-compose 1st run, no cache

[2019-07-31 19:22] FernandoMiguel commented on #1099
<img width="197" alt="Screenshot 2019-07-31 19 58 39" src="https://user-images.githubusercontent.com/168366/62241357-eb137080-b3d0-11e9-8db1-972260b6a89f.png">
this is a docker-compose 2nd run, fully cached

[2019-07-31 19:23] FernandoMiguel commented on #1099
<img width="201" alt="Screenshot 2019-07-31 19 58 58" src="https://user-images.githubusercontent.com/168366/62241385-f8305f80-b3d0-11e9-8645-7dd2b485b529.png">
this is buildx/BuildKit 1st and 2nd run
there is a lot of cache bust on the 2nd run

[2019-07-31 19:28] FernandoMiguel commented on #1099
[code]

[2019-07-31 20:53] tiborvass commented on #1099
@FernandoMiguel from the output, you can see that `COPY .` step is not cached. So something has changed in your build context. Keep in mind that hidden files/directories are part of the cache. If you can, it is better to specify the files to copy in.

[2019-07-31 20:58] FernandoMiguel commented on #1099
@tiborvass yes I'm aware of the risks of using dot, and when possible avoid it.
Sadly some applications are too complex to identify all required resources.

These are consequentive runs of the same commit id.

When using docker compose with a similar Dockerfile (minus the buildkit cache stuff) this very same build will be fully cached.
Not only this, but the entire set of images and code base.

I

[2019-07-31 23:44] lig commented on #569
I'd expect this behavior to be implemented using a new command-line argument and the old `--cache-from` to have the same behavior as before. At least failing with `not implemented error`. This would make much more sense.
The current behavior just makes migration to buildkit a lot more complicated.

[2019-08-01 00:08] tonistiigi commented on #569
This has been fixed by inline cache support https://github.com/moby/buildkit/pull/777 (in Docker 19.03)

[2019-08-01 00:08] #569 closed

[2019-08-01 10:23] Gaibhne opened #1106 "BuildKit caching ignores file content when (m)Time changes"
This is an old bug that was fixed in Docker proper years ago, but seems to have made it into BuildKit: if a file has changed timing, but identical content, the cache is still invalidated. This means the common practice of git clone x, build, will always invalidate all file based caching, which is generally not what one wants.

[2019-08-01 10:25] FernandoMiguel commented on #1106
wonder if this is related to https://github.com/moby/buildkit/issues/1099

[2019-08-01 10:28] Gaibhne commented on #1106
Test case:

[code]

Next run:

[code]

As you can see, step 7 should be cached, but isn't. Switching back to normal Docker build correctly does cache this step.

[2019-08-01 10:32] Gaibhne commented on #1106
Realted bug/MR from Docker: https://github.com/moby/moby/pull/12031

[2019-08-01 22:51] tonistiigi commented on #1106
You need to provide a reproducible testcase. Git checkout is not guaranteed to be deterministic.

[code]

[2019-08-02 00:31] tonistiigi commented on #1106
Also, note that efficiently caching wildcards had issues in 18.09 that I assume you are using https://github.com/moby/buildkit/issues/573 . Fixed in 19.03

[2019-08-02 09:14] Gaibhne commented on #1106
Yes, thank you, an upgrade to 19.03 did indeed fix it (incidentally, the calling PC already had 19.03, but it used a remote Docker host which was still at 18.09, explaining why my initial go-to solution ("upgrade and see if it's still happening") didn't work. I'm closing this, since I guess my title was incorrect.

[2019-08-02 09:14] #1106 closed

[2019-08-02 11:33] Gaibhne opened #1108 "Console colors are hard to read on default configuration"
I'm not sure what BuildKit is generally developed on, but I would confidently say that the default background for shell/console windows is black background. The default dark blue color choice is practically unreadable on black backgrounds and seems like a strange choice for a command line tool.

I know I can disable colours completely with the `plain` output mode, but that cuts away a lot more thi

[2019-08-03 13:43] hmage commented on #784
Also having problems. Using it to invalidate cache if there are new commits to the repo as per [solution posted here](https://github.com/moby/moby/issues/14704#issuecomment-215961707).

[code]

[2019-08-06 03:01] leshik opened #1113 "BuildKit fails on armhf (but works on arm64)"
With the latest Docker `19.03` on `Raspberry Pi 3B+` with Raspbian (`armhf`), BuildKit fails with the following error:

[code]

But it works just fine with the same `Dockerfile` when using the 64-bit OS (`arm64`) and 64-bit `Docker` on the same hardware.

[2019-08-06 04:18] tonistiigi commented on #1113
Can you post daemon logs? This could be https://github.com/moby/buildkit/pull/1111

[2019-08-06 08:43] ninjadq opened #1115 "Migration of configs"
- syslog

[2019-08-06 08:44] #1115 closed

[2019-08-06 13:25] leshik commented on #1113
@tonistiigi looks like it is:

[code]

[2019-08-06 14:58] petr-motejlek commented on #1055
Hey @pdevine ,

Thanks. I was just about to submit an issue report for this also. I noticed that when I run `docker pull` or initiate the old-style `docker build` command (w/o BuildKit), everything works, but when I use `DOCKER_BUILDKIT=1`, I receive a TLS handshake error. My situation is a bit worse in that we actually use client-side certs to authenticate with the repo, which brings me to my que

[2019-08-06 16:55] FernandoMiguel commented on #1097
and just had it happen again
[code]

buildkit built from master source
[code]

[code]

[2019-08-06 16:57] FernandoMiguel commented on #1097
[code]

[2019-08-06 18:32] msg555 opened #1116 "panic: runtime error: index out of range"
My coworker saw the below failure while building images on one of our longer lived buildkit daemons running v0.6.0 (I think!).

Hopefully the trace is enough, at the moment I don't have much more information about what was being built other than they restarted the container and were able to successfully process the same set of builds.

[code]

[2019-08-06 19:11] tonistiigi opened #1117 "TestContextChangeDirToFile possibly flaky"
seen in https://travis-ci.org/moby/buildkit/builds/568205275#L5702

[code]

[2019-08-06 19:12] tonistiigi commented on #927
Haven't seen this for a long time. Possibly related to gc fixes

[2019-08-06 19:12] #927 closed

[2019-08-06 19:13] #547 closed

[2019-08-06 19:13] tonistiigi commented on #184
fixed

[2019-08-06 19:13] #184 closed

[2019-08-06 19:45] #1113 closed

[2019-08-07 02:00] #1116 closed

[2019-08-07 07:16] ahmetb opened #1119 "empty entrypoint command in Dockerfile not erroring out, giving confusing error"
Looks like if you have an empty Dockerfile the parser does not error out (you'll get a nil Node.Next on `entrypoint` Node)

[code]

It looks like the built image has this:

[code]

which is kind of weird.

Here's the dockerfile I'm using for reference:

[code]

[2019-08-08 00:18] thaJeztah commented on #1072
fix was cherry-picked in Docker 19.03 through https://github.com/docker/engine/pull/312

[2019-08-08 06:23] lugeng opened #1121 "Dose buildkit support --platform as buildx?"
provice such command like this:
https://github.com/docker/buildx#---platformvaluevalue

[2019-08-08 16:29] tonistiigi commented on #1121
These are configured by frontend. If you build dockerfiles with `buildctl` the syntax is:

`buildctl build --frontend dockerfile.v0 .... --opt platform=linux/arm/v7`

[2019-08-08 21:07] EugenMayer opened #1123 "DOCKER_BUILDKIT=1 fails to COPY local files from docker-context"
Having a simple project

`bin/fly`

[code]

Will fail when build with `DOCKER_BUILDKIT=1` while it will work when using `DOCKER_BUILDKIT=0`
It fails because `bin/fly` could not be found ( nor any file in the build context ). I build using

`docker build -t eugenmayer/concourse-pipeline-resource .`

The project can be found at https://github.com/EugenMayer/concourse-pipeline-resource (be aware, bin

[2019-08-08 23:16] tonistiigi commented on #1123
@EugenMayer Post the build output, I didn't have trouble on that line on your repro.

[2019-08-09 07:32] lugeng commented on #1121
thanks a lot!

[2019-08-09 07:32] #1121 closed

[2019-08-11 07:48] ehipp-altair opened #1126 "docker build --pretend to know whether a build will use the cache without actually building it"
(Initial issue moved from https://github.com/docker/cli/issues/2011 to buildkit)

I would like to know in advance whether a docker build command will use only the cache or whether it will run some ADD or RUN commands.

That command would show approximately the same output as the docker build command, except it would not actually build the container.

For example, if I have the following Dockerfile

[2019-08-11 08:56] FernandoMiguel commented on #1126
What and why are you trying to achieve with this?
What's the use case?

You can already see if there is host cache and untagged docker layers (old Docker build)

[2019-08-12 16:54] tonistiigi commented on #1126
This isn't actually possible because that cache is dynamic. In a lot of cases (especially for multi-stage) the cache check depends on if another command generated the same data. If you look at the build graph then every build partially doesn't match cache.

[2019-08-12 21:34] ahmetb opened #1127 "dockerfile/parser: is preserving inline comments on non-JSON run directives"
I'm using https://godoc.org/github.com/moby/buildkit/frontend/dockerfile/parser#Parse to parse `RUN` commands from a dockerfile.

It appears like for a dockerfile like:

    RUN foo bar # comment

the returned `*parser.Node` actually has this:

[code]

Therefore, when I interpret this tree, I come to the conclusion that this command should be executed as:

    [/bin/sh, -c, "foo bar # comment"]

T

[2019-08-12 22:05] tiborvass commented on #1127
Soooo... unfortunately yes.

AFAIR the JSON syntax for RUN was done in order to have a shell-neutral way of parsing quotes precisely without writing a parser. We totally should have done it.

Concretely, if we did now what you suggest in this issue:
`RUN echo 'I love #hashtags'` would fail, because it would be equal to `RUN echo 'I love `

Therefore, it's better to put comments on their own line.

[2019-08-12 22:05] #1127 closed

[2019-08-12 23:41] StrongMonkey opened #1128 "buildkitd mount options for containerd workers"
When running buildkitd in a pod using k8s node's containerd worker, what mount do I have put?
Currently I have the following mounts:
1. /run. This is for containerd.sock
2. /containerd-state. This is for containerd state.
3. Buildkit state.
4. /tmp
Here is an example:
[code]

It turns out that It doesn't remember the cache if I set mounts this way. What mount option am i missing? Running buildkitd

[2019-08-13 01:25] StrongMonkey commented on #1128
Turns out that I unintentionally set gc policy, closing.

[2019-08-13 01:25] #1128 closed

[2019-08-14 11:40] alexellis commented on #1039
@chewi Hi James, have you had any issues pushing to jfrog? I've been getting a 404 error for `client-name-goes-here.jfrog.io/image-name:latest-master-b4f02d6`

[2019-08-14 11:44] chewi commented on #1039
No but we host our own Artifactory.

[2019-08-14 11:48] alexellis opened #1130 "jFrog / buildit push giving "unexpected status: 404 Not Found""
Hi,

I'm trying to push a Docker image to a jFrog hosted Docker registry such as:

[code]

I can push the same image from the CLI manually with `docker tag/push`

Whenever I use buildkit I get the following:

[code]

I've tried buildkit version v0.3.3 and v0.6.0. Both give the same error.

The Kubernetes engine / container-OS is:

DigitalOcean Kubernetes

[code]

3x nodes with OS / Kernel / Docker

[2019-08-14 11:52] alexellis commented on #1130
Appears to be related:

https://www.jfrog.com/jira/browse/RTFACT-18583
https://www.jfrog.com/jira/browse/RTFACT-18825
https://github.com/genuinetools/img/issues/128

[2019-08-14 12:23] alexellis commented on #1039
Thanks for the reply. This is what I ran into today: https://github.com/moby/buildkit/issues/1130

Did you configure your instance with any specific configuration or authentication strategy?

[2019-08-14 12:38] chewi commented on #1039
I'm afraid I can't help there. I work for a large company so other people are responsible for configuring it.

[2019-08-14 13:30] alexellis commented on #1130
@AkihiroSuda asked if schema v2 is implemented.

When I `curl`ed `/v2/_catalog` I saw: `docker-distribution-api-version: registry/2.0`, but I couldn't `curl` the endpoints which would get back data for an image.

The `reg` tool by Jess seems to be able to do an `ls` and bring back similar data.

[2019-08-14 13:49] alexellis commented on #1130
I can also reproduce the error with the regular `buildctl` `buildkitd` daemon on a Linux workstation.

[code]

Gives:

[code]

[2019-08-14 15:09] btashton commented on #1130
@alexellis I suspect this due to this bug https://www.jfrog.com/jira/browse/RTFACT-19344 where Artifactory does not currently implement the monolithic upload API.  Please comment/vote for it.

[2019-08-14 17:24] tonistiigi opened #1131 "Add concurrency limit"
Add ability to control concurrency on low powered machine. Ideally, this is dynamic and based on stats(for distributed mode) with some manual override.

related #1032

[2019-08-14 21:42] tonistiigi commented on #1123
I assume this was related to #1125 and reported with a wrong error message. Reopen if you have more info.

[2019-08-14 21:42] #1123 closed

[2019-08-15 03:08] benbuzbee opened #1134 "COPY --from fails with with failure to stat source file in merged overlay directory of source"
Well folks I have no idea what is going on here or how to make a useful title out of this, but I have widdled it down to the smallest repro I can come up with so far :)

The shell script below errors for me most of the time, however it does seem to be a race.

[code]

[code]

What information can I provide here?

[2019-08-15 07:48] mruoss commented on #1088
Alright, I compared `buildctl du` with `du -sh /home/user/.local/share/buildkit` today (even though the disk is not full yet). I can see a discrepancy of a few GB:

**Output of `buildctl du`:**

[code]
**Output of `du -sh /home/user/.local/share/buildkit`**

[code]

Does this help? Remember I configured buildkit to keep 55000 of reclaimable storage.

[2019-08-15 18:22] benbuzbee opened #1135 "Output incorrectly omits build arguments"
The following script defines and uses a build argument, DESTINATION. The argument is correctly consumed by the build task however the output omits it
[code]

foldername was used correctly
[code]

But buildkit output omits it and makes it seem as if it failed
[code]
[code]

[2019-08-15 18:51] benbuzbee commented on #1134
Just another data point I forgot to mention:

It repros more consistently if you use bigger files. If you have trouble reproing it, change count=100 in both places to count=500 for 500MB files instead.

[2019-08-15 20:25] tonistiigi commented on #1088
@mruoss not sure I understand. In https://github.com/moby/buildkit/issues/1088#issuecomment-514999601 you said that the volume was full but from last output, you still seem to have 15GB to go (and 10GB until gc kicks in)

[2019-08-15 22:00] cstrahan opened #1136 "CLI should fail early and report when Dockerfile uses --mount=type=ssh but the user hasn't passed --ssh to docker build"
(The original report below the fold; I realized that was partly my fault, and partly docker's.)

If the user forgets to pass e.g. `--ssh default` when running `docker build`, docker currently doesn't fail early when the Dockerfile uses `--mount=type=ssh`, leaving the user puzzled when their image fails to build half way through at the first attempt to, say, clone a private repository. And then the

[2019-08-15 22:31] cstrahan commented on #974
@tonistiigi This is still broken:

[code]

$ docker --version
Docker version 19.03.1, build 74b1e89

[2019-08-15 22:42] cstrahan commented on #1136
The `/run/buildkit` doesn't even exist:

[code]

[2019-08-16 00:48] tonistiigi commented on #1136
Use `--mount=type=ssh,required` if your command requires the socket to work.

[2019-08-16 05:50] nicks opened #1138 "buildkit hangs indefinitely on out of disk space errors with no error messages"
Reproduced with Docker for Mac 19.03.1

Steps:
1) Create a large tarball suitable as a docker context, > 100MB
2) enter the VM with the command
[code]

3) create files under /var/lib until you run out of disk space
[code]

4) Run

[code]

Expected result:
The old docker build engine gave a reasonable error message:

[code]

Actual result:
Buildkit just hangs indefinitely with this output:
[code]

[2019-08-16 12:09] mruoss commented on #1088
Yes when the volume is full buildkit stalls. With the last comment I just wanted to show the descrepancy between what buildkit thinks it is using (42.39GB) and it is actually using (45.5GB). Of course I haven't reached the disk limit yet but you can see how it could become a problem when the disk fills as buildkit thinks it's using less than it actually is...

But I can do the same again once we r

[2019-08-16 18:27] #1134 closed

[2019-08-17 07:59] EugenMayer commented on #1123
Sorry, i was on holidays

[code]

That's my output.

Guessing from #1125 something like

[code]

would have worked with the current implementation - which it does not for me

[code]

[2019-08-19 10:36] virgile-hogman opened #1142 "Cannot build from local image with buildctl"
**Description**

Cannot build from a local image with `buildctl` which always tries to resolve to `docker.io`. This applies to a multi-stage setup or simply from a local image in a CI setup. The base image should not be expected to be pushed to any repository (either `docker.io` or even private). It is only available locally (`docker images`).

This works with `docker build` and even `DOCKER_BUILD

[2019-08-19 20:43] tonistiigi commented on #1142
Buildkit with oci worker does not provide an image store. This has been discussed in the past but would mean we would need to add image management commands in the API. You can use containerd worker with the containerd image store(managed with ctr) or docker/buildx with docker image store.

[2019-08-19 20:56] #974 closed

[2019-08-19 20:59] tonistiigi commented on #1138
fixed by https://github.com/moby/moby/pull/39761

[2019-08-19 20:59] #1138 closed

[2019-08-19 21:44] tonistiigi opened #1143 "Cache manifest lists can't be exported to gcr"
Related to https://github.com/moby/buildkit/issues/720 that currently has a gcr specific workaround in the pull code.

When exporting a manifest list that contains the cache metadata for a build (eg. with mode max), the upload fails in gcr with 400 error.

There was a report in slack that it also failed with 404 https://dockercommunity.slack.com/archives/C7S7A40MP/p1566224768282100 (hence similari

[2019-08-19 22:00] tonistiigi commented on #1143
cc @jonjohnsonjr

[2019-08-19 22:20] jonjohnsonjr commented on #1143
I haven't worked on the project in a while, but, I can tell you that GCR is very strict with what it will accept in a few places... especially here.

The `annotations` field isn't present for [manifest lists](https://docs.docker.com/registry/spec/manifest-v2-2/), which is where I'm guessing this is falling over.

You might have better luck if you set the mediaType to an [image index](https://githu

[2019-08-19 23:10] tonistiigi commented on #1143
@jonjohnsonjr

The error changed when switching to oci types(can't do this by default as would limit the number of supported registries).

[code]

fyi, similar manifest lists are also used in containerd checkpoints https://github.com/containerd/containerd/blob/c6da899e2fd5ec5f0863d4be5ff683ee785d155c/images/mediatypes.go#L34

[2019-08-20 07:43] virgile-hogman commented on #1142
@tonistiigi thanks for the answer, but coming just from the "docker world" i don't know exactly how to use containerd from buildkit in practice, especially the fetching part.

In this example i have a Dockerfile depending on a first one built only locally.  Let's assume it is stored with containerd. But then it's still buildkit that needs to load it, so how would it find it in that local store? Do

[2019-08-20 15:40] nicks commented on #1138
thanks for the quick fix!

[2019-08-20 17:22] tonistiigi commented on #1142
The first build would export it with a name `--output type=image,name=myname` and then another build can refer to it by that name.

[2019-08-21 21:23] #1136 closed

[2019-08-22 13:06] virgile-hogman commented on #1142
I tried this but the second build still fails for the same reason. I don't still understand how the loaders work and how buildkit is going to find such image. I'm using the dockerized version of buildkit:
[code]
The first build produces an image that i can "somehow" see with `buildctl du -v` though i don't see the image name. There are some IDs which are not prefixed by sha apart from the base ima

[2019-08-22 13:20] virgile-hogman commented on #1105
This looks like this ticket i opened recently here: https://github.com/moby/moby/issues/39769

I'm still very confused between these two spaces moby/moby vs moby/buildkit. Is the former for `DOCKER_BUILDKIT=1` and the latter for `buildctl`? What is the relation between the two?

[2019-08-22 15:12] tylerb opened #1146 "SSH Forwarding Doesn't Release File Descriptors"
Environment:

macOS Mojave 10.14.6

[code]

----

It appears the SSH forwarding system fails to release file descriptors as SSH agent connections are created and dropped.

Running a command, such as `docker buildx build --ssh=default=$SSH_AUTH_SOCK --progress=plain --tag=outdoorsy/scotty .` to build a Dockerfile, in which the command `RUN --mount=type=ssh go mod download` is run, results in the SS

[2019-08-23 09:27] AkihiroSuda commented on #1105
@tonistiigi Do we want to support this?

[2019-08-23 17:15] tonistiigi commented on #1105
@AkihiroSuda In moby, yes

[2019-08-23 17:18] tonistiigi commented on #1142
`moby/buildkit:latest` image is only configured for the oci worker. To run the containerd worker you need to have containerd running and start buildkitd with `--oci-worker=false --containerd-worker=true`

[2019-08-23 19:32] ahmetb commented on #905
Also seeing it from github releases, such as:

[code]

[2019-08-27 00:09] andrewhsu opened #1151 "add exporter for cnab to oci"
Based on this definition: https://github.com/docker/cnab-to-oci

[2019-08-27 16:09] virgile-hogman commented on #1142
Is there any simple tutorial or documentation for setting up such a configuration? I have never used containerd and it sounds quite obscure to and end-user not familiar with terms like rund, containerd, workers or OCI, this all sounds like internal stuff for container developers which i'm not. The nice thing with Docker is its convenience and accessibility, it can be used out of the box from a sim

[2019-08-27 16:51] charlesritchea opened #1152 "Question: Any way to copy intermediate artifacts to host?"
Using a combination of a LABEL in the Dockerfile, `docker build --rm=false`, `docker ps -a --filter=label=foo`, and `docker cp`, I'm able to copy my JUnit test-results XML from the first stage of my multi-stage docker build, but if DOCKER_BUILDKIT=1 is set, then there are no intermediate containers. Is there any way to do the same thing with BuildKit? Is using 2 Dockerfiles with a tagged image for

[2019-08-28 00:03] mroth opened #1153 "timestamp in image layers rounding differences"
## Background

In the Java JVM, `File.lastModified` returns a _"A `long` value representing the
time the file was last modified, measured in milliseconds since the epoch"._

On many JDKs and operating systems (such a Linux OpenJDK8), this actually
returns a number rounded to the whole second, losing the millisecond
part.[[*]](https://bugs.openjdk.java.net/browse/JDK-8177809)

Something is differen

[2019-08-28 08:06] #1146 closed

[2019-08-28 08:08] AkihiroSuda commented on #1152
`docker build -o ./some-dir --target some-target`

[2019-08-28 08:08] #1152 closed

[2019-08-28 09:19] niklasbuechner commented on #1053
I am also trying to debug a docker build and expected all intermediary builds to be exported as an image, since that was the previous behaviour.

@AkihiroSuda Is there currently a way to look into the filesystem after the last successful build step?

[2019-08-28 22:36] TrentonAdams commented on #1053
@niklasbuechner I don't expect build kit is changing the behaviour of the building of intermediate cached images.  I expect it's just not displaying the hash ids.  What I don't know is if there's a way of listing them after the fact, for workaround purposes.

[2019-08-28 23:32] klamontagne opened #1154 "mount id ignores embedded build-arg?"
Hello, I'm trying to [cache](https://github.com/moby/buildkit/blob/96d13d600f3645f2c1a0b6d84f48fc75c6f1d7ad/frontend/dockerfile/docs/experimental.md#run---mounttypecache) the apt archives directory.
I'm using a Dockerfile that basically looks like this:
[code]

[code]
[code]
Output shows that cache id is `apt-cache-amd64` as expected.

However, If multiple builds are started simultaneously, some o

[2019-08-28 23:44] klamontagne commented on #1154
Silly workaround: replace `${ARCH}` myself
[code]

[2019-08-29 00:38] tonistiigi commented on #1154
tracked in #815

[2019-08-29 00:38] #1154 closed

[2019-08-29 01:15] charlesritchea commented on #1152
Ok, problem solved, I just needed my extraction target to inherit from scratch and only copy what I need, then --output works perfectly
[code]
`DOCKER_BUILDKIT=1 docker build -o ./build --target test-results`

[2019-08-29 08:16] thaJeztah opened #1155 "[RFC] Add some output to logs for backward compat"
There are quire some scripts in the wild that check the output of `docker build`

Currently, buildkit outputs the following on a successful build;

[code]

The classic build outputs;

[code]

I'm wondering if we should add the `Successfully built` / `Successfully tagged` to the output for backward compatibility.

(Not sure if that should be done here, or if we should add that to the `docker` cli?

[2019-08-29 08:16] thaJeztah commented on #1155
@ulyssessouza @tonistiigi @tiborvass

[2019-08-29 14:22] AkihiroSuda commented on #1155
Maybe we should rather promote using `--iidfile` ?

[2019-08-29 14:59] FernandoMiguel commented on #1155
@AkihiroSuda I never heard of it before today, so I guess some promotion would be nice

[2019-08-29 19:51] thaJeztah commented on #1155
I agree `--iidfile` is the better approach, unfortunately, we can't change what people use in the wild (and I know there's a lot of parsing happening); for `docker-compose build` it's more difficult though, because it'll be building multiple Dockerfiles in one go, so there won't be a single image-id in the output (something we should think about how to handle that), which is (I think) one reason f

[2019-08-29 21:06] charlesritchea commented on #1152
@AkihiroSuda This doesn't work if the build fails due to a test failure, which defeats the purpose.

[2019-08-30 06:40] Xuanwo commented on #971
Yes, we do need `httpProxy` support in build.

[2019-08-30 16:58] sindreij opened #1158 "Add some way to get the sha256 digest of the image"
We are looking into using this instead of kaniko for building our images. Kaniko has `--digest-file` to get the digest of the built image. Is there some way of doing this with buildkit and buildkitctl? It looks like we can try to get the digest from the build-log, but that looks like a hacky solution.

[2019-08-30 17:10] tonistiigi commented on #1158
if you use https://github.com/docker/buildx with buildkit you can use `--iidfile` for this. It is not exposed in `buildctl` atm. but supported in api.

[2019-08-30 18:49] sindreij commented on #1158
How is the support for running buildx in a docker container in kubernetes. Does it work without docker? Would you accept a PR to save the metadata in `resp.ExporterResponse` (where this is in buildctl) to a file?

[2019-08-30 18:59] tonistiigi commented on #1158
buildx currently has docker-container and docker daemon driver. direct k8s driver is not currently implemented but would be accepted https://github.com/docker/buildx/issues/22 .

For buildctl I'm not against it but as `buildctl` is designed to be more like generic reference cli implementation, maybe the flag should be `--metadata-file` where it would write all the metadata in `resp.ExporterRespons

[2019-08-30 19:18] sindreij commented on #1158
I'd like to start the daemon manually, and then have buildx inside a k8s-pod using that, do you know if that is possible with buildx?

The `--metadata-file` flag sounds like a great solution for our use case.

[2019-08-30 20:14] tonistiigi commented on #1158
That's not possible in current buildx. Would need a separate driver. The current driver starts the buildkit container itself as part of the build flow.

[2019-08-31 03:20] AkihiroSuda commented on #1158
related: #993

[2019-09-02 10:52] lugeng commented on #1131
Does buildkit has interface to know home many builds are running?

[2019-09-03 23:19] tonistiigi commented on #1158
@AkihiroSuda for #993 we probably would need a special option that cli(or exporter) understands. these requirements seem very specific.

[2019-09-04 18:52] erydo commented on #784
I think this is a duplicate of #905 (_ADD from url fails with 'invalid not-modified ETag'_). Or rather that is a duplicate of this, though that issue's title is more general. I don't think this is "local network"-specific.

[2019-09-04 19:51] erydo commented on #905
### I believe I understand the cause.

The fix should be very simple (see the bottom of this post), however I'm not set up for building in this ecosystem. Hopefully someone can provide a patch.

I was seeing this too with a Google Cloud Storage URL and so decided to investigate. It seems unlikely that both GitHub releases and Google Cloud Storage are "misbehaving" with respect to ETags, and it's l

[2019-09-05 23:52] #905 closed

[2019-09-06 19:40] P1ng-W1n opened #1163 "Docker build ignores secondary the secret in the same RUN instruction"
Issue: docker build takes into account only the first secret parameter. Any other secrets passed as part of the RUN instruction is ignored

How to reproduce the issue?
[code]

Docker version details:
[code]
Is that the intended behavior. If so, is it documented anywhere?

[2019-09-09 17:59] tonistiigi commented on #1163
You are printing `/tpm/secret2` and mounting `/tmp/secret2`

[2019-09-09 20:31] tonistiigi commented on #1153
this should be fixed with https://github.com/moby/buildkit/pull/1161

[2019-09-09 20:31] #1153 closed

[2019-09-09 20:36] #1070 closed

[2019-09-09 20:44] tonistiigi commented on #1155
image id is printed in stdout with `-q`. This with `--iidfile` is the documented expected behavior that scripts can rely on that we shouldn't break, as opposed to pattern matching from the output. I would probably be ok with adding a new block to the end of the build that is basically more like a build summary. Eg. `--progress=plain` doesn't currently give you even the full duration of the build.

[2019-09-09 20:50] FernandoMiguel commented on #1155
I'm ok with this

[2019-09-09 20:55] eightlimbed commented on #1119
@ahmetb i'd like to call dibs on this for my first attempt at contributing to this project.

[2019-09-09 21:09] ahmetb commented on #1119
Sounds good to me. I'm not a maintainer of this repo.

[2019-09-09 22:21] eightlimbed commented on #1119
@tonistiigi is that cool?

[2019-09-09 22:30] tonistiigi commented on #1119
@eightlimbed sure

[2019-09-09 23:17] andrewhsu commented on #1151
Closing in favor of https://github.com/docker/buildx/issues/143

[2019-09-09 23:17] #1151 closed

[2019-09-10 00:36] erydo commented on #784
I believe this can be closed now that #1159 is merged in. Not sure why GitHub didn't close this one when that was merged.

[2019-09-10 00:37] #784 closed

[2019-09-10 10:02] crazy-max commented on #409
@jzelinskie Could you add `crazymax` and `ftpgrab` namespaces please ? :pray:

[2019-09-10 17:09] thaJeztah commented on #1155
Is there a reason for only printing it on stdout if `-q` is set? Wondering if we could print it unconditionally, given that `stdout` is currently unused without `-q` (see my example above)

[2019-09-11 12:41] P1ng-W1n commented on #1163
*sigh* Ok.. PEBKAC counter increased..
Sorry for the false report.

[2019-09-11 12:41] #1163 closed

[2019-09-11 13:48] aquark commented on #724
This is fixed with `# syntax=docker/dockerfile:1.1.3-experimental` but that syntax is apparently not available for arm64 (it works on amd64).

[2019-09-11 15:50] folex opened #1167 "ARG in COPY --from: invalid reference format"
Dockerfile:
[code]

How I run it:
[code]

Output:
[code]

What I'm actually trying to achieve is to build files for production, but copy them from filesystem for tests. The example I provided is a simplification of that :)

[2019-09-11 17:19] tonistiigi commented on #1167
you can use:

[code]

This is explained in https://medium.com/@tonistiigi/advanced-multi-stage-build-patterns-6f741b852fae

[2019-09-13 20:42] tbarrella opened #1169 "Cache guide/documentation?"
Hello, BuildKit does a lot of smart things, and one thing that has been unclear so far is how the cache manages disk and memory.

When I first used rootless BuildKit on Kubernetes, because its ephemeral-storage usage was near zero and memory usage was high it made me think it was storing its cache entirely in memory. I was surprised when the pod was eventually evicted due to the node needing to re

[2019-09-14 07:00] tbarrella opened #1170 "Failures from "failed to load cache""
Hello, I ran into these two failures while building with v0.6.1-rootless (sorry I can't share the Dockerfiles):

[code]
[code]

[2019-09-14 17:55] AkihiroSuda commented on #1169
The cache are created on the volume.

https://github.com/moby/buildkit/blob/9c56f1c50a673a26ca0119cfd493934fe83f6df0/hack/dockerfiles/test.buildkit.Dockerfile#L283

[2019-09-14 18:37] tbarrella commented on #1169
Oh interesting. Sorry for not going into the pod to check; it had an ephemeral-storage limit of 10M but wasn't being evicted. Seems like that's due to https://github.com/kubernetes/kubernetes/issues/81523. Thank you, this is good to know!

[2019-09-15 19:36] tonistiigi commented on #1170
Can you share the daemon logs?

[2019-09-16 02:57] tbarrella commented on #1170
Sorry, I didn't have `--debug` on, but enabled it for if/when it happens again. The daemon logs I do have are
[code]
for the first one, and for the and second,
[code]
[code]

[2019-09-16 03:11] tonistiigi commented on #1170
When you get more logs, please post them before the error as well. Mostly curious if they show gc running before this error.

[2019-09-16 15:32] BenHizak commented on #409
Related discussion in quay.io: https://github.com/roboll/helmfile/issues/808

[2019-09-16 17:25] tonistiigi opened #1172 "add xz binary to release image"
https://github.com/docker/buildx/issues/145

[2019-09-17 18:44] mowings opened #1173 "Am I misunderstanding RUN mount=type=cache?"
I'm trying to use docker's buildkit to cache the results of a bundle install between builds. I'm using the new RUN `mount=type-cache...` option to allow caching the the bunder results for subsequent builds. However, nothing appears to be cached, ever.

I'm using docker 19.03.01 for both docker client and server. I have enabled buildkit on builds vie envar `DOCKER_BUILDKIT=1` Note that ssh mounts s

[2019-09-17 19:40] rickmak commented on #1142
I face the same problem, and tried to switch from oci to containerd worker but fails to boot the buildkit deamon.

[code]

The image tag for moby/buildkit is 8ce8d3df040f. I am running on Mac Docker desktop (2.1.03) with Engine version 19.03.2

[2019-09-17 21:52] #1173 closed

[2019-09-17 21:52] mowings commented on #1173
I'm a dummy

[2019-09-18 08:15] PaulLiang1 commented on #943
Is this fixed in `19.03.1`?
Seeing the same issue on Linux but not on Mac

[2019-09-18 10:50] thaJeztah commented on #943
I think the patch went into 19.03.2; https://github.com/docker/engine/pull/316

[2019-09-18 11:43] opopops opened #1174 "buildctl prune does not cleanup runc-overlayfs/snapshots"
Hi,

I noticed when I clean up th cache with the buildkit cli, some data remains in **_/var/lib/buildkit/runc-overlayfs/snapshots_**, this directory grows until the filesystem is full despite clean up with this command:
[code]

**buildkit version: v0.6.1**

[2019-09-18 17:18] tonistiigi commented on #1174
@opopops Do you have a reproducer?

[2019-09-19 06:59] chendave commented on #1174
In my side, the directory remains, but no data actually inside those directories.

[2019-09-19 07:01] chendave commented on #1174
and also,  you might need to run the command with two dash as below,

buildctl prune --all

[2019-09-19 23:37] jonjohnsonjr commented on #1143
Do most registries work with this?

[2019-09-20 16:33] mowings commented on #815
Expanding values would cover almost all use cases, I think. In my case, I have multiple projects that need separate caches -- and because these builds are automated, I need to be able to pass in a couple of strings to determine which cache is used at build time.

I can work around my particular issue by creating subdirectories off of the cache target based on the passed-in build args, but this is

[2019-09-20 17:19] tonistiigi commented on #1143
oci support was added in version 2.7 to reference registry https://github.com/docker/distribution/releases/tag/v2.7.0 . There is also limited support among runtimes for oci mediatypes support so not only registry side issue. For buildkit side, we can allow oci mediatypes in cache export if user requests but as shown in https://github.com/moby/buildkit/issues/1143#issuecomment-522788150 it doesn't

[2019-09-20 17:26] jonjohnsonjr commented on #1143
I meant do most registries allow this:
[code]

as a manifest? I'd be really surprised.

[2019-09-20 20:37] tonistiigi commented on #1143
Depends on what you mean by most. Every registry based on https://github.com/docker/distribution allows it without any updates. Docker hub didn't require any updates. I know Azure Container Registry works fine as well. ECR otoh still doesn't support any variant of manifest lists afaik. The same pattern is used for example in containerd checkpoints definition and cnab-oci (that is used by docker ap

[2019-09-20 21:12] jonjohnsonjr commented on #1143
It just seems to me that anyone implementing manifest list support based on reading https://docs.docker.com/registry/spec/manifest-v2-2/#manifest-list would probably reject that manifest.

[2019-09-22 00:36] dko-slapdash commented on #1155
Debugging a failed build when DOCKER_BUILDKIT=1 was set is hard: without DOCKER_BUILDKIT, I can just do `docker run -ti <id> bash` and rerun the failed command manually.

But since DOCKER_BUILDKIT doesn't show image IDs for **FAILED** build, it's not possible.

Is there a work-around?

[2019-09-22 00:45] dko-slapdash commented on #1053
Yeah, setting DOCKER_BUILDKIT=1 disimproves debug experience a lot. Without DOCKER_BUILDKIT, it was possible to run a container with a layer right before the failed step, and with DOCKER_BUILDKIT it's not possible anymore.

This looks like a clear regression...

[2019-09-22 18:46] opopops commented on #1174
Sorry and thank you, it was my mistake.
buildctl prune --all works fine you can close the issue

[2019-09-22 18:46] #1174 closed

[2019-09-23 14:45] gfrancesco commented on #1142
I'm experiencing the same issue. Looking into the `moby/buildkit` image (`8ce8d3df040f`) looks to me that there is no trace of `containerd` executables.

@tonistiigi since you suggested to start `containerd` before `buildkitd --oci-worker=false --containerd-worker=true`, can you please explain the necessary steps?
I went through the docs of `docker/buildx`, `moby/buildkit` and `containerd/containe

[2019-09-23 17:19] tonistiigi commented on #1142
As I wrote in https://github.com/moby/buildkit/issues/1142#issuecomment-524394554 `moby/buildkit` is made for `oci` worker. It does not come with containerd binaries. If you want to run containerd you can refer to their getting started guide https://github.com/containerd/containerd/blob/master/docs/getting-started.md#getting-started-with-containerd . If you have containerd running you can start bu

[2019-09-23 18:50] gfrancesco commented on #1142
Ok, I think I'm getting even more confused, maybe I'll describe my use case more in detail to explain how I ended up here.
I'm running docker desktop on Mac OS.

- I want to build a base image of a linux OS, for which I need to use the new buildkit experimental `RUN --security=insecure` in my Dockerfile
- From the official docs, `docker buildx build` _"extends the docker command with the full supp

[2019-09-23 20:12] tonistiigi commented on #1142
@gfrancesco If you want buildx to access `docker images` it needs to use docker driver. It is true that for the `--security` it was just added lately and can't be enabled atm. in docker. The PR for that is in https://github.com/moby/moby/pull/39144 and you need to wait for that fix in order to use these 2 features together. If you want to use `--security` today with the container driver you can us

[2019-09-23 21:00] gfrancesco commented on #1142
Thanks for helping, I'll keep an eye on the PR and look into use a registry in the meantime 🙂

[2019-09-23 21:07] alice-sawatzky commented on #815
while we're at it, lets make sure when we implement this that we implement it for all flag values. i just had to workaround `--mount=type=ssh,uid=${UID}` not working

[2019-09-26 13:09] iinuwa opened #1181 "Add command to list files in the build context"
It would be helpful to add a command that listed what files would appear in the build context during build for fine-tuning the `.dockerignore` file. [This StackOverflow answer](https://stackoverflow.com/a/56373706/11931787) recommends using `ncdu` as an external tool, but this isn't necessarily available to Windows users. Being able to run something like `docker builder context ls` would be helpfu

[2019-09-27 17:34] tonistiigi commented on #1181
Files in the context depend on what kind of build you are running. In buildkit if you don't have `COPY/ADD` commands in the stages you are building there is no build context as well. And if you  have only `COPY foo .` only file in build context for that build would be `foo`.

[2019-09-28 07:26] maximveksler commented on #914
A bit more portable work around that still works would be:

```docker` build --ssh default=~/.ssh/id_rsa .```

[2019-09-28 16:07] eightlimbed commented on #1119
I need to step away for this for the time being. I might pick it up when I have more time, but if anyone else wants to take it I am removing my "dibs".

[2019-09-30 16:59] iinuwa commented on #1181
I wasn't aware that there are different types of builds. Could you elaborate on that?

I understand that if you only specify one file, to copy, there is only one file in build context. However, for COPY statements that recursively copy from directories, a novice Docker developer may accidentally include more files than they intend. Take, for example, a C# project that is laid out this way:

[code]

[2019-09-30 17:41] FernandoMiguel commented on #1181
@iinuwa I might be mistaken, but for that scenario, those folders would be ignored

What @tonistiigi was trying to say is that the context isn't all copied in a tar to the agent, but instead only the files it is required when asked for

[2019-10-01 08:10] corradio commented on #970
Seems like this file would be the place to start?
https://github.com/moby/buildkit/blob/master/session/secrets/secretsprovider/file.go

[2019-10-01 16:15] jpreese opened #1183 "Question: Any objection to porting the parser package?"
I've been waffling back and forth whether or not it would be worth maintaining a separate copy of Docker's parser package to drop the dependency on buildkit as a whole. I would effectively take the parser package that's in this repository, move it to its own repository, and turn it into its own Go module.

Given the fact that there really isn't an API story for buildkit, I think it makes sense for

[2019-10-01 21:36] tonistiigi commented on #1183
Long-term goal is to split the Dockerfile frontend from buildkit core into own repository. For the parser itself, I don't really see a need for it as it would just complicate the maintenance. It is already between different layers of pkg boundaries and all modern go vendoring tools can strip the unused packages for you.

[2019-10-01 21:42] jpreese commented on #1183
If thats the end-goal, it may be possible to wait it out then. Depending on what dependencies the frontend uses. I'm no so worried about package bloat, moreso than unneeded dependency resolutions.

As it stands right now, the parser package inside of buildkit is really hard for us to use because of its other dependencies.

[2019-10-01 21:48] tonistiigi commented on #1183
The packages are already correctly separated. To do the split we would need to rewrite the testing logic because we would still want to run dockerfile integration tests on every buildkit PR.

What dependencies? Parser pkg only depends on `./frontend/dockerfile/command` that itself doesn't depend on anything.

[2019-10-01 22:16] jpreese commented on #1183
Correct me if my understanding of module resolution is incorrect, but it's not so much a problem of the package level imports, but the module imports.

If I have a module, with a list of requirements in my go.mod file, and I import a package from a module, even if that imported package uses none of my packages dependencies, my go.mod file will be updated.

So even though parser doesn't rely on muc

[2019-10-01 22:41] tonistiigi commented on #1183
`go mod` will only vendor the packages that are used, not all in the same repository

[2019-10-01 23:19] jpreese commented on #1183
From a file size perspective, yes, but I was fairly confident the go.mod resolution happens regardless. If I pull parser out into it's own module, my mod file is left untouched and the project builds. If I include buildkit, I fall into a rabbit hole of trying to fix all of the dependencies.

I'll run some more tests tonight.

[2019-10-02 03:09] jpreese commented on #1183
Here is a relatively trimmed down example.

https://github.com/jpreese/go-modules

Even though `mainmodule` only uses the `noimport` package, which has no dependencies other than the `fmt` package, `mainmodule` must use cobra `0.0.5` because the `importme` module has it as a dependency on it.

[2019-10-02 10:57] thaJeztah opened #1184 "[question] seeing some warnings/debug logs when building with BuildKit"
More of a question / observation:

Seeing this on 19.03.2 and on master

[code]

Check the logs (full output shown below, but collapsed);

<details>

[code]

</details>

These entries stood out to me.

Wondered about this warning; is this a configuration issue in our code?

[code]

This one is logged as "DEBUG", so perhaps not important. The `"could not get checksum"` part stood out to me though,

[2019-10-02 10:57] thaJeztah commented on #1184
@AkihiroSuda @tonistiigi 🤗

[2019-10-02 11:26] MarcosMorelli commented on #978
any updates at this one?

[2019-10-02 16:36] smira opened #1185 "LLB: creating "fake" dependency"
Is there any way to connect two `llb.State`s so that there's artificial dependency?

I want to do download and verify two checksums for downloaded file, SHA256 and SHA512.

`llb.HTTP` allows for one digest only, so I put SHA256 to `llb.HTTP`, and for `SHA512` I try to use temp image with `sha512sum` binary to verify the checksum, and if everything is fine, I can copy downloaded file to another sta

[2019-10-02 17:29] tonistiigi commented on #1185
Do I get this right that you are just asking for a method in the LLB client pkg and no update is needed in the LLB format itself? In that case it would be fine to add a new method that allows adding these extra dependencies.

I don't get your specific use case that much though. Your cache would require both SHA256 and SHA512 to always be up-to-date, not just one of them. So I'm not sure in what ca

[2019-10-02 17:35] tonistiigi commented on #1184
`could not get checksum for with tar-split` is harmless. We can remove the debug if it may be confusing.

For the grpc, it doesn't cause issues but we could investigate if there is a cleaner way to shut down these hijacked connections.

[2019-10-02 18:44] smira commented on #1185
![Diagram](https://user-images.githubusercontent.com/55211/66072327-82c24600-e55d-11e9-906e-df33f61a9cd4.png)

I'm not asking for any new stuff, I was asking if there's a way to have last step in the 3rd column linked somehow into the main flow (1st column). If I don't do this "fake" copy which is shown as dashed arrow, SHA512 flow is not executed at all (which is expected). But creating this "fak

[2019-10-02 18:46] smira commented on #1185
Alternative way is to enable more than one digest verification in `llb.HTTP`, but that certainly requires some changes to buildkit I guess. I'll be happy to contribute PR for that.

[2019-10-02 19:28] thaJeztah commented on #1184
Yes, I think we should rephrase or remove; it feels insecure ("we couldn't validate what we downloaded, but we're gonna run it anyway")

[2019-10-02 21:12] tonistiigi commented on #1185
There isn't an option to provide arbitrarily link in the client go pkg but in the LLB proto format it should be supported as connections between vertexes are in a different layer from the actual vertex implementation. So if you want to add a method for this in the go pkg I'm ok with it. You just need to make sure the dependant chain gets marshaled to proto and add an extra input digest to the join

[2019-10-02 21:15] tonistiigi commented on #1184
I agree. This code was originally written for `v1.10` migration where it signified that layers were recomputed from pre `1.8` layout and could possibly change the tarball checksums. It's being repurposed in buildkit adapter but there it doesn't have any warn condition as all data generated by builder is new anyway.

[2019-10-02 21:41] smira commented on #1185
Got it, thanks Tõnis!

And I appreciate all the hard work put into buildkit, it's engineering marvel!

[2019-10-02 21:41] #1185 closed

[2019-10-02 21:43] pratiksanglikar opened #1186 "docker build command outputs general information lines to stderr instead of stdout when buildKit is enabled."
**Description**

docker build commands output general information lines to standard error instead of standard output when buildKit is enabled.

This is particularly problematic for extra tooling we have around docker which depend on lines on stderror to determine if the command was successful.

Following is the output of `docker build` command which is returned on the stderr instead of stdout. The

[2019-10-02 21:44] pratiksanglikar commented on #1186
Related issue - [https://github.com/microsoft/DockerTools/issues/213](https://github.com/microsoft/DockerTools/issues/213)

[2019-10-03 00:32] tonistiigi commented on #1186
Treating prints to stderr as error is not correct. Stdout is used for actual build results (eg. you can pipe a tarball of the built files) or for id with `-q`. https://www.jstorimer.com/blogs/workingwithcode/7766119-when-to-use-stderr-instead-of-stdout

[2019-10-03 17:33] bwateratmsft commented on #1186
In what scenario is that a thing for Docker? The build output isn't files, it's images, and trying to cram an image into STDOUT...I don't even think that would be possible.

Using STDERR for all logging output, while arguably "technically" correct, is highly irregular, and likely to cause more problems than solve.

[2019-10-03 17:46] cpuguy83 opened #1187 "Cross-build step with multiplatform build logging is ambiguous"
When performing a build step such as this example:

[code]

And then building for multiple target platforms, it is difficult to tell which platform target is running or failed because the output effectively shows `BUILDPLATFORM` (in this case).

Example from above might look like this even though I'm building for both linux/amd64 and linux/arm64, both only show `linux/amd64`:

[code]

[2019-10-03 18:14] tonistiigi commented on #1187
Showing `linux/amd64` in there is correct as the hello/sleep binary running there is `linux/amd64` but as it is confusing we could detect the case where `TARGETPLATFORM` for Dockerfile stage is not the same as current platform and show both then.

[2019-10-03 23:43] tonistiigi commented on #815
Can't make it work for the `from` option in the `--mount` as well. Same issue as with `COPY --from`. At least without a significantly complicated change and a slower builder algorithm. Global scope args could still be used in them like it is possible to use them now by defining a new single-line stage.

[2019-10-05 05:24] peishuli opened #1188 "rootless image didn't work on OKD (OpenShift) 3.11"
Tried to deploy a rootless buildkit image to OKD 3.11 using https://raw.githubusercontent.com/tektoncd/catalog/master/buildkit/0-buildkitd.yaml and resulted pod in "Crash Loop Back-off" status. The logs showed the following error: "[rootlesskit:parent] error: failed to start the child: fork/exec /proc/self/exe: invalid argument"

[2019-10-05 06:02] AkihiroSuda commented on #1188
sudo sh -c "echo 28633 > /proc/sys/user/max_user_namespaces" ?

[2019-10-05 07:59] chendave commented on #1188
similar issue found when run a pod with rootless image in Kubernetes.

[code]

where can I find the docs on the how to use the rootless image?

[2019-10-05 07:59] chendave commented on #1188
@AkihiroSuda

[2019-10-05 09:07] AkihiroSuda commented on #1188
The doc is at https://github.com/moby/buildkit/blob/master/docs/rootless.md but needs readability improvement.

Maybe you need `sudo grubby --args="namespace.unpriv_enable=1 user_namespace.enable=1" --update-kernel="$(grubby --default-kernel)".`

Can you also try OpenShift 4 with RHEL8-based host?

[2019-10-05 09:08] AkihiroSuda commented on #1188
* Maybe you need to disable seccomp if it is automatically enabled with SCC
* Maybe you need to set seLinuxOptions to disable SELinux

[2019-10-05 17:06] AkihiroSuda commented on #1188
Seems SELinux needs to be disabled

[code]

[code]

[code]

[2019-10-05 17:09] AkihiroSuda opened #1189 "CopyOp regression: `failed to set xattr "security.selinux" `"
https://github.com/moby/buildkit/issues/1188#issuecomment-538668809

https://github.com/tonistiigi/copy/pull/16 should have fixed this in the past (https://github.com/genuinetools/img/issues/45), but seems we are hitting this again.

Seems regression in the migration from `copy` helper to `CopyOp`

[2019-10-05 18:29] AkihiroSuda commented on #1189
This affects rootful mode as well

[2019-10-06 00:49] thaJeztah opened #1190 "grpc-ecosystem/grpc-opentracing has a new home?"
According to https://github.com/grpc-ecosystem/grpc-opentracing/pull/43, this dependency moved to a new home at https://github.com/opentracing-contrib/go-grpc (which looks to be actively maintained, and has go mod support)

It doesn't look to be a fork though, but something that was started from scratch; https://github.com/opentracing-contrib/go-grpc/commit/6584d2943026cdcb95499c44594903e207ecc1ce

[2019-10-06 04:25] chendave commented on #1188
will try it later, but seems ubuntu doesn't have SELinux by default.

[2019-10-06 11:25] AkihiroSuda commented on #1188
On Ubuntu you need to set apparmor profile to unconfined

https://kubernetes.io/docs/tutorials/clusters/apparmor/#securing-a-pod

[2019-10-07 22:49] tonistiigi commented on #1190
Seems to be the same codebase. Just the commit history was removed.

[2019-10-08 09:24] chendave commented on #1188
works for me!

[code]

But seems rootless images only support x86 platform?
[code]

[2019-10-09 08:43] lugeng opened #1192 "buildkit import and push image is much slower than docker(enable buildkit)"
The same dockerfile built and push by buildkitd and docker:

**Dockerfile:**

	_FROM centos:centos7

	COPY test.total.tgz /root/_

test.total.tgz is a pkg about 150M;

**builkitd**
run buildkitd with runc as worker;
buildctl .... --output type=image,name=test:0.0.1,push=true

 _=> exporting to image                                                        46.5s
 => => exporting layers

[2019-10-09 15:04] thaJeztah commented on #1190
Ah! I didn't do a compare of the code itself. That's not a nice way to start a fork, but 🤷‍♂

[2019-10-09 18:16] msg555 opened #1193 "panic: runtime error: invalid memory address - oci.GetResolvConf.func1"
Seeing a crash of buildkitd when attempting to start a build. Looking at the stack and the info message it seems likely that the trigger is a misconfiguration on our end of DNS.

The file "/run/systemd/resolve/resolv.conf" does not exist

This is running the moby/buildkit:v0.6.2 image

[2019-10-10 02:30] chendave commented on #1187
+1

[2019-10-10 02:31] chendave commented on #1187
/assign

[2019-10-10 02:38] chendave commented on #1187
if anyone want a quick fix, pls feel free to assign this to yourself.

[2019-10-10 04:34] tonistiigi commented on #1192
Are you sure you are comparing equivalent builds? The second one is faster because most of the layers were already pushed once. Even from the "exporting layers" line you can see that in the second a lot less new data was created.

[2019-10-10 04:39] tonistiigi commented on #1193
@tiborvass regression from #1040

[2019-10-10 09:36] lugeng commented on #1192
Yes, this is equivalent builds, just take export stage as example in picture:
<img width="1436" alt="image-export-compare" src="https://user-images.githubusercontent.com/18281825/66557410-6a1ce600-eb84-11e9-955e-c87be0636dab.png">

[2019-10-10 14:52] tonistiigi commented on #1192
Ah, I didn't notice this was `buildctl` vs `DOCKER_BUILDKIT=1`. @dmcgowan  Pretty sure this is the inefficient timestamp comparison in the containerd differ.

[2019-10-10 21:49] bendavies opened #1194 "buildkit cannot pull image from ECR: 405 Method Not Allowed"
Hi there,

We've just started seeing builds failing that use images from ECR:

Given a Dockerfile:
[code]

[code]
will pull the image from ECR just fine.

However, Buildkit fails:

[code]

This has started happening without a change of docker version.
You can see we are getting `405 Method Not Allowed` from ECS.
Have AWS changed something?

Thanks!

[2019-10-10 22:52] tonistiigi commented on #1194
@samuelkarp

[2019-10-10 23:35] samuelkarp commented on #1194
@bendavies What version of Docker are you using?  Was this working previously and just started failing?

[2019-10-11 00:26] jtoberon commented on #1194
@bendavies We reproduced this issue and are working on a fix.

[2019-10-11 02:50] gurpreetatwal commented on #528
I might be missing something fundamental, but how does one figure out what features a given tag supports?

I see that all the tags are published [here](https://hub.docker.com/r/docker/dockerfile/tags/) and the suggestion in the docs is to "pin the image to a specific revision. ", but I'm not entirely sure what to pin it to. I only need access to ssh mount type feature and the tags [here](https://g

[2019-10-11 03:00] jtoberon commented on #1194
The fix has been released. Please reopen this issue if you still have a problem.

[2019-10-11 03:39] jpreese commented on #1183
I'm adding PRs to a couple of the projects we depend on to fix up their go.mod files, so I'll see what the landscape looks like after that. If buildkit is still problematic for us, I'll move the parser out to it's own module.

[2019-10-11 04:39] tonistiigi commented on #1183
you are importing cobra in https://github.com/jpreese/go-modules/blob/master/mainmodule/main.go#L4

[2019-10-11 04:48] tonistiigi commented on #528
Docs are in https://github.com/moby/buildkit/blob/dockerfile/1.1.3-experimental/frontend/dockerfile/docs/experimental.md . Change the tag for different versions.

That recommendation is to use full versions, eg. `1.1.3-experimental` instead of `latest` or`experimental`

Automatic builds from this repo go to https://hub.docker.com/r/docker/dockerfile-upstream/tags . `docker/dockerfile` only contain

[2019-10-11 06:24] #1193 closed

[2019-10-11 07:00] tzoratto opened #1196 "Secret mount doesn't work with userns-remap"
Hello,

I couldn't find a note about this in the current documentation or any existing issue so that's why I create one for this, please point me in the right direction if it's already known.

I cannot manage to mount secret with buildKit when userns-remap is enabled.

Docker version : 19.03.3, build a872fc2f86 (ubuntu 18.04)

Given the following Dockerfile :

[code]

and the following build comma

[2019-10-11 08:17] bendavies commented on #1194
@samuelkarp `Docker version 19.03.2, build 6a30dfc`, but I'm sure it doesn't matter now as I guess it's fixed in the AWS side.
I'm guessing that's what @jtoberon means anyway, as I can't see if he's an AWS employee from his profile.

Thanks for the super fast turn around!

Is there a better place to report these issues in the future?

[2019-10-11 12:06] jpreese commented on #1183
Right. I'm trying to showcase that `mainmodule` _must_ use `v0.0.5` of cobra, because the `importme` module requires `v0.0.5`.

`mainmodule` only imports the `importme/noimport` package from the `importme` module. The `noimport` package has no imports, not even cobra. But because the `importme/noimport` package lives in the `importme` module (which has a depedency on `v0.0.5`), I _must_ also use v

[2019-10-11 14:41] rittneje opened #1197 "DOCKER_BUILDKIT=1 docker build fails COPYing a symlink from host"
We have a directory structure like this:

- A
  - bar.txt
- B
  - foo.txt --> ../A/bar.txt
- Dockerfile

(B/foo.txt is a symlink to A/bar.txt.)

The Dockerfile looks like this:

[code]

`DOCKER_BUILDKIT=1 docker build .` fails with an error message on the second `COPY`:

[code]

[2019-10-11 14:54] FernandoMiguel commented on #1197
see https://github.com/docker/buildx/issues/150

[2019-10-11 14:59] rittneje commented on #1197
@FernandoMiguel I don't think this is the same issue. Slightly different Dockerfiles do work correctly.

For example, this works, but doesn't meet our use case.
[code]

[2019-10-11 16:10] d-theus opened #1198 "[question] buildctl prune seems to leak some disk space"
Hello,
I'm having some trouble getting `buildctl prune --all --keep-storage N` to actually use around `N` megs of space build after build, `runc-overlayfs` usually just grows indefinitely.

I also understand that the way I use buildkit is propably not the way it's meant to be used. It looks like this:

it runs inside docker container with a volume mounted like so:
[code]

the script it runs (actua

[2019-10-11 16:49] samuelkarp commented on #1194
@bendavies Thanks for providing that information and for confirming that it's working now for you.  @jtoberon is an AWS employee (and he just updated his profile to indicate this) and provided accurate information.

[AWS Support](https://aws.amazon.com/premiumsupport/), the [AWS Forums](https://forums.aws.amazon.com/category.jspa?categoryID=3), and the [Containers Roadmap GitHub repository](https:

[2019-10-11 17:16] #1194 closed

[2019-10-11 17:18] AkihiroSuda opened #1199 "TLS should be ignored for UNIX sockets"

[2019-10-11 17:55] tonistiigi commented on #1198
Can you put together a reproducer that shows this behavior? It is possible this is addressed with #1176 but would need reproducer to be sure.

[2019-10-11 18:08] AkihiroSuda opened #1200 "buildctl: add flag for specifying a directory that contains ca.pem, cert.pem, key.pem"

[2019-10-12 11:33] d-theus commented on #1198
https://github.com/d-theus/buildkit-prune-leak-repro

[2019-10-12 16:54] AkihiroSuda commented on #1189
PR: https://github.com/containerd/containerd/pull/3749

[2019-10-12 17:21] voroninp opened #1204 "More detailed error message for 'No build stage in current context'?"
`CurrentStage` function [can return](https://github.com/moby/buildkit/blob/776c838951ec352cb2793096e2bdf828adc4b5ea/frontend/dockerfile/instructions/commands.go#L422) the error

According to the number of views of this [SO question](https://stackoverflow.com/questions/50452860/error-response-from-daemon-no-build-stage-in-current-context) forgetting `FROM` instruction is quite a typical reason for

[2019-10-14 02:52] fuweid commented on #1192
I will take a look this.

[2019-10-14 17:31] #1022 closed

[2019-10-14 17:34] #1199 closed

[2019-10-14 20:06] jpreese commented on #1183
Anyway, I'll be on the lookout for splitting up the module here. If frontend still has a large dependency footprint, we'll consider moving it to its own module.

[2019-10-14 20:06] #1183 closed

[2019-10-14 20:16] tonistiigi commented on #1183
I'm not sure why go mod still uses these versions in determining the lowest requested version. It clearly can avoid the packages that are not used by anything else at all. It might be a simplification in the implementation that might be updated in the future.

[2019-10-15 00:52] AkihiroSuda opened #1208 "hack/dockerfiles/*.buildkit.Dockerfile -> hack/dockerfiles/*.Dockerfile ; hack/dockerfiles/test.Dockerfile -> Dockerfile"
https://github.com/moby/buildkit/pull/1203#pullrequestreview-301444051

[2019-10-15 13:38] d-theus commented on #1198
My mistake. `prune` is sort of async command. It exits before something actually gets collected. So, I should wait before killing daemon.

[2019-10-15 15:32] thaJeztah opened #1209 "[RFC] Allow defining mounts for whole stage"
Just a quick thought, not a fully written/designed proposal.

The experimental syntax currently allows using [`RUN --mount`](https://github.com/moby/buildkit/blob/b939973/frontend/dockerfile/docs/experimental.md), which is great. Mounts allow using files as part of your build, without them ending up in (intermediate) image layers, while still being able to use the build cache.

However, having to

[2019-10-15 15:33] thaJeztah commented on #1209
/cc @tonistiigi @tiborvass @cpuguy83

[2019-10-15 15:55] FernandoMiguel commented on #1209
a few nits,

`git clone` will fail if you already clone it once, so having a cache, the 2nd run would fail, but the 1st works.

`FROM --mount=` design hides the mount point from the RUN stage, making it hard to read. I would prefer  to have some sort of indicator we are mounting there

[2019-10-15 16:07] thaJeztah commented on #1209
Ah; yes, haven't tried any of the code; I guess it works for illustration purposes 😂

Agreed; that concern played in my head; on the other hand, it's no different from defining an `ENV` higher up in the Dockerfile (same stage, or even a `FROM <stage that has ENV>`. Not sure what's best to make it more visible (suggestions definitely welcome; it was just a quick braindump/write-up)

[2019-10-15 18:13] tonistiigi commented on #1209
Defining mounts for the full stage is potentially wasteful. Using mounts for processes that don't actually need it makes instructions cached by wrong dependencies and makes cache mounts locking more complex.

Eg. when doing `FROM golang`, it doesn't mean that when `RUN apt-get update` is run on that stage, it should use the go specific cache mounts. Go specific cache mounts should only be used whe

[2019-10-15 21:54] FernandoMiguel commented on #1209
@tonistiigi I really like the DEFINE approach.
But how does it cache across multi stage and multi builds?

[2019-10-15 23:47] tonistiigi commented on #1209
@FernandoMiguel This is all just a syntax in Dockerfile, no changes in how the builder works/caches internally.

[2019-10-16 10:06] quazgar commented on #785
Any workaround for this, apart from upgrading?

[2019-10-16 15:20] tiferrei commented on #1134
Currently hitting this issue. Has the patch been released?

[2019-10-16 15:47] tiferrei commented on #1034
@apenney were you able to solve this? I'm on mac so I can't change the storage driver.

[2019-10-16 16:16] benvan commented on #816
Just chiming in here - we do the same as @astorath at our company. It's been a godsend for enabling extremely efficient / modular builds and dockerfiles

For context: We discovered this issue after trying to use (new) build secrets (with buildkit)

[2019-10-16 16:54] #976 closed

[2019-10-16 16:57] #1188 closed

[2019-10-16 17:11] tonistiigi commented on #785
@quazgar `docker builder prune --filter "type=source.local"` should probably do it but upgrading is the recommended path

[2019-10-17 02:02] AkihiroSuda commented on #844
mostly cleaned up now, but still need further improvements

[2019-10-17 02:02] #844 closed

[2019-10-17 02:02] #1189 closed

[2019-10-17 04:05] farzadz opened #1211 "Cache not being used"
I have tried to cache maven dependencies with the following code:

[code]
And tried to trigger build with the following command:

```DOCKER_BUILDKIT=1 docker build --progress=plain --no-cache --secret id=maven,src=/home/myhome/.m2/settings.xml -f /my/directory/Dockerfile .```

The secret seems to be properly mounted (as some dependencies on private repositories can be downloaded), however, for eve

[2019-10-17 07:07] FernandoMiguel commented on #1211
Have you tried without --no-cache?
That would force it to download again

Also I wonder if having two mounts for the same directory would be a problem

[2019-10-17 09:14] quazgar opened #1212 "Add a log file for build process information."
I think it would be very advantageous to have a log file with the complete build information (all stdout, stderr), which is normally hidden unless `--progress=plain` is given.

[2019-10-17 15:32] NickScottKortical commented on #1211
From what i can see the behaviour seems to have changed between 19.03.1 and 19.03.2 and is still present in 19.03.3. In 19.03.1 the --mount=type=cache will still be used even if you specify --no-cache, which allows you to use for example a pip package cache and a requirements.txt with floating packages inside and still avoid downloading python packages that do already exist in the mounted cache. I

[2019-10-17 15:46] NickScottKortical commented on #1211
It looks like an intentional change based on this merge: https://github.com/moby/buildkit/pull/1092

[2019-10-17 18:21] tiborvass commented on #458
This is already the case

[2019-10-17 18:21] #458 closed

[2019-10-17 18:52] tiborvass opened #1213 "Add --no-cache-filter to disable cache per target and per cache mount"
Today disabling cache can only be done with `--no-cache`. This is a proposal for adding `--no-cache-filter` to disable cache per target (aka Dockerfile stage) and per cache mount.

## UX

Couple of examples to get a grasp:
- `--no-cache-filter target1,target2` invalidates cache for both targets `target1` and `target2` (most common usecase)
- equivalent to `--no-cache-filter target1 --no-cache-filt

[2019-10-17 19:00] tiborvass commented on #1211
I personally think it is more confusing to keep cache mounts when `--no-cache` is specified, rather than the opposite. However, I just opened at https://github.com/moby/buildkit/issues/1213 a proposal I discussed with @tonistiigi to cover your very valid usecase.

I'm closing this issue from a UX perspective. Happy to continue the discussion on the proposal. If you think I missed an important poin

[2019-10-17 19:00] #1211 closed

[2019-10-17 19:16] FernandoMiguel commented on #1213
Any support for wildcard for targets or cache id?

[2019-10-17 19:45] NickScottKortical commented on #1211
I think it might be useful to add a note to the --mount=type=cache section of the readme that points out that they won't be used if --no-cache is selected, even if in some senses it is obvious based on the name. The change in behaviour (and as  a result invalidation of quite a few blogs giving examples of the feature) can make it difficult to get going as a result. I like the look of the proposal,

[2019-10-17 19:53] NickScottKortical commented on #1213
In this case `--no-cache-filter mount:id1` is `mount:id1` the equivalent of `target1` and so would you be able to specify `--no-cache --no-cache-filter !mount:id1` (essentially the negation on the mount) which essentially would disable all caches except id1 (I think this would provide my original use case around pip package caches) and would be a really helpful improvement.

[2019-10-18 03:22] AkihiroSuda opened #1214 "README should clarify DOCKER_BUILTKIT vs docker buildx vs BuildKit"

[2019-10-18 15:51] #1208 closed

[2019-10-18 18:10] maiamcc opened #1216 "dockerfile/parse.Parse should pull in `# syntax = ___` directives"
My project uses `dockerfile/parse.Parse` to
1. [read in a Dockerfile](https://github.com/windmilleng/tilt/blob/34ae0c55498fb2a380bfb5568a340e24d8303bca/internal/engine/image_build_and_deployer.go#L371),
2. [make some adjustments](https://github.com/windmilleng/tilt/blob/e9ab890264fab4c81db3d228e57e6f3d1a85f707/internal/dockerfile/ast.go#L85), and then
3. [print out the new Dockerfile as a string](

[2019-10-18 22:06] maiamcc commented on #1216
FWIW I ended up hacking around this in my project with [`dockerfile2llb.ParseDirectives`](https://github.com/moby/buildkit/blob/3f8ab160d5079539f9ed971fb069e4205108dd9d/frontend/dockerfile/dockerfile2llb/directives.go#L27) -- though it still makes sense to me that directives be stored on the `parse.Result`, as they're part of the interpretation of the parsed Dockerfile (and you store SOME directiv

[2019-10-21 16:51] chrisdostert opened #1218 "Add name support to OCI outputter"
The OCI image spec has standardized the `org.opencontainers.image.ref.name` attribute for including an image name in an image layout.

I would like the ability to include name in my oci image output argument as in `--output type=oci,dest=/image.tar,name=$imageName` and have it add this attribute.

[2019-10-21 16:54] chrisdostert opened #1219 "Allow outputting an OCI image layout directory"
In order to remove unnecessary tar/untar performance hits, I would like the ability to export an OCI image layout directory as an alternative to an image layout tar.

[2019-10-21 17:47] chrisdostert commented on #1218
it looks like if we get a release including https://github.com/moby/buildkit/commit/615347271d8fb4e763512e1057fe06653eda29e1#diff-da065b99f35d8e4d9cba814afea2b8a7L196 this will be supported?

[2019-10-21 18:26] chrisdostert commented on #1218
Actually to answer my own question, building master doesn't I get the same error ` > exporting to oci image format:
------
error: failed to solve: rpc error: code = Unknown desc = oci exporter cannot export named image` so no that PR doesn't seem to have added support.

[2019-10-21 20:38] tonistiigi commented on #1216
Yes, the parser could provide a way to access `#syntax` as well as `#escape`. Feel free to make the change.

[2019-10-21 20:44] tonistiigi commented on #1218
Afaik OCI has "stardardized" `org.opencontainers.image.ref.name` key but has provided no spec about what value it should contain. There were discussions about this when this was added, some projects use this annotation for normalized name and some use it as a tag in oci index. If containerd chooses a specific way to start using this annotation we can do the same thing. When I last discussed it, th

[2019-10-21 20:49] tonistiigi commented on #1218
@chrisdostert https://github.com/opencontainers/image-spec/blob/master/image-layout.md#indexjson-file

[2019-10-21 21:26] chrisdostert commented on #1218
@tonistiigi why does buildkit need to care? It seems like the desired behavior would be to just treat it as opaque and set as specified. An alternative to allowing specifying `name` would be to allow specifying `annotations` which would be a map of keys/values.

[2019-10-21 21:29] tonistiigi commented on #1218
We don't want to make images that are broken in some other tools that claim OCI compatibility. If another tool expects a tagname for that annotation they will fail miserably if we fill it in with a full name.

[2019-10-21 21:32] chrisdostert commented on #1218
The other tool wouldn't be behaving in OCI compliant fashion if they assumed a certain value for that annotation per spec https://github.com/opencontainers/image-spec/blob/master/annotations.md

[2019-10-21 21:39] tonistiigi commented on #1218
It's a vague and unfortunate situation. Obviously the reason why it is defined as a special key is for the different implementations to reuse the key. Otherwise we would just put `buildkit.name` there if we just need a label. And the spec does list a "common use case" and example how to use this annotation that strictly contradicts on what you are asking (although I agree that this would be the mu

[2019-10-21 21:42] chrisdostert commented on #1218
After our conversation and thinking on it more I feel like the best way is to expose annotations and let the consumer decide. This is how the OCI spec intends annotations to be used. I can either close this issue or rename to reflect the request being for allowing specifying annotations. Do you have a preference?

[2019-10-21 21:44] tonistiigi commented on #1218
I'm ok with allowing to set raw annotations. Suggested the same in https://github.com/moby/buildkit/pull/227#issuecomment-352332877

[2019-10-21 21:49] chrisdostert opened #1220 "Add annotations support to OCI outputter"
The OCI image spec allows specifying `annotations` on index entries.

I would like the ability to include annotations in my oci image output argument as in `--output type=oci,dest=/image.tar,annotations=org.opencontainers.image.ref.name=latest` and have it add these annotations.

see also https://github.com/moby/buildkit/issues/1218 for related

[2019-10-21 21:51] chrisdostert commented on #1218
Great, thanks. Opened new and referenced this. Will see you over there.

[2019-10-21 21:51] #1218 closed

[2019-10-21 22:02] maiamcc commented on #1216
Cool, I'll take a look when I get the chance.

None of the following are necessary but I think any one, or all together, would make this a little easier/cleaner. How would you feel about me:
1. moving [`dockerfile2llb.ParseDirectives`](https://github.com/moby/buildkit/blob/3f8ab160d5079539f9ed971fb069e4205108dd9d/frontend/dockerfile/dockerfile2llb/directives.go#L27) into the `parse` package?
2. st

[2019-10-21 22:06] tonistiigi commented on #1216
sgtm

I think I would prefer typed struct. We should maintain a list of supported directives, not that any string combination is a valid directive result.

[2019-10-22 09:30] rajibmitra opened #1222 "buildkit issue build command"
Hi,

I am trying to execute the below command :

`buildctl build --local dockerfile=. --frontend=dockerfile.v0`

And I am getting this below error :

[code]

Let me know how can I fix this issue, thanks.

[2019-10-22 13:05] 6ecuk opened #1223 "--mount=type=ssh permission denied with namespace mapping"
**Dockerfile**
[code]

**System subuid&subguid**
[code]
**Docker daemon settings**
[code]
**Docker version**
[code]

[2019-10-22 15:08] AkihiroSuda commented on #1222
`buildkitd` daemon running?

[2019-10-22 19:31] hinshun opened #1224 "Incremental export transfer"
Hi, I'd like to rsync the exported files from a build. Currently, this seems to be only done with imported files (through the context).

I tested using the newly merged `fsutil` PR: https://github.com/tonistiigi/fsutil/pull/69

However, it ends up using the `emptyWalker` on the receiving end:
https://github.com/tonistiigi/fsutil/blob/0f039a052ca1da01626278199624b62aed9b3729/receive.go#L132-L135

S

[2019-10-22 20:29] tonistiigi commented on #1224
Merge means that new files are added to the destination directory, not that the whole directory is replaced. This is so that you can do `docker build -o . --target=binary .` to build a binary and add it to your working dir without the transfer removing all your local files.

The merge should remain the default. We could still do the rync behavior with merge as well, without merge it would be like

[2019-10-22 20:31] tonistiigi commented on #1223
Thanks for the report. Closing as dupe of https://github.com/moby/buildkit/issues/1196

[2019-10-22 20:31] #1223 closed

[2019-10-23 14:44] sirlatrom opened #1226 "Feature request: Environment variables in docker-container driver"
The docker-container driver currently provides no way to specify environment variables such as `HTTP_PROXY` and `HTTPS_PROXY`, making it impossible to use it behind a proxy.

[2019-10-23 14:47] sirlatrom commented on #1226
Wrong repo, sorry!

[2019-10-23 14:47] #1226 closed

[2019-10-23 17:56] pallmagnusson commented on #1204
I'm happy to have a go at this.

[2019-10-23 21:28] hinshun commented on #751
A higher level goal we'd like to see if a way to compose multiple frontends together, to construct one LLB. Particularly, we want to have Dockerfile stages composed with single-purpose frontends. Having this issue resolved will unblock further development down this path.

For example, consider the following use-case:
- Clone a git repository
- Import the `package.json`, `package-lock.json`, `.npmr

[2019-10-24 11:42] mdeknowis commented on #1105
Perhaps it helps to know: I was using `DOCKER_BUILDKIT=1` in a `sh` script. After migrating it into a `bash` script I experienced wired issues. So I've to invoke `sh docker build .`, then everything is fine again. Hence it looks like the  `DOCKER_BUILDKIT=1` does not work fine in `bash`. But very well in `sh`

[2019-10-24 11:49] mdeknowis commented on #1105
Perhaps it helps to know: I was using `DOCKER_BUILDKIT=1` in a `sh` script. After migrating it into a `bash` script I experienced wired issues. So I've to use `sh`, then everything is fine again. Hence it looks like the  `DOCKER_BUILDKIT=1` does not work fine in `bash`. But very well in `sh`

[2019-10-25 18:44] tonistiigi commented on #238
I think this can be closed now. Thanks @kunalkushwaha @smira

[2019-10-25 18:44] #238 closed

[2019-10-25 18:45] tonistiigi commented on #1131
@lugeng This is not exposed currently through any API

[2019-10-26 07:49] cmoulliard commented on #409
Problem is still there for me on Quay.io using this org - `https://quay.io/repository/cmoulliard`

[code]

[2019-10-27 15:38] denzp opened #1227 "Caching question"
Hello, could you please help me to figure out a caching issue? I'm experimenting with a toy frontend and trying to achieve persistent remote caching. I assume the problem is in the frontend, but I can't get my head around where exactly it is.

Internal caching works well when in subsequent builds (with or without importing and exporting cache). The problem arises after `buildctl prune` is called:

[2019-10-28 03:48] fuweid commented on #1192
I think containerd provides native diff functionality with folder diff. It is abstraction for every kind of snapshot. But in dockerd, for the aufs/overlayfs, we don't need to get folder diff and the layer is the diff. I think we can add diff interface for each kind of snapshotter to improve export performance.

[2019-10-28 20:15] tonistiigi commented on #1192
In docker aufs uses own diff, overlay switched back to generic one recently. Containerd could have a special one for overlay for extra performance but that is not the main issue here. The difference between generic drivers in docker and containerd is that docker will not generate a change unless change-time changes while containerd will go into a full file content scan if timestamp does not have n

[2019-10-28 21:31] thaJeztah commented on #1134
@tiferrei fix was back ported in https://github.com/docker/engine/pull/327, which was part of the Docker 19.03.2 release

[2019-10-28 23:24] tonistiigi commented on #1227
You should see "importing cache manifest" https://github.com/moby/buildkit/blob/master/solver/llbsolver/bridge.go#L60 in output if the cache import is attempted.

Notice that on doing builds through a frontend you need to send the cache imports with the request from frontend https://github.com/denzp/rust-buildkit/blob/5f7cd5fff1a3607e600fc75c3e5dbfe49b4d96ac/buildkit-proto/proto/github.com/moby/bu

[2019-10-29 06:05] AkihiroSuda opened #1230 "buildkitd: support specifying custom OCI worker binary (e.g. /usr/bin/crun)"
The current workaround to switch OCI worker binary is to run `rm -f $(which buildkit-runc) && ln -s $(which crun) /usr/local/bin/buildkit-runc`.

`buildkitd` should support specifying OCI worker binary.

[2019-10-29 07:49] denzp commented on #1227
Wow, thank you! The suggestion worked like a charm. I somehow overlooked the setting and assumed it's controlled by `buildctl` only.

[2019-10-29 07:49] #1227 closed

[2019-10-29 15:05] d-theus commented on #1198
@tonistiigi
I've been able to reproduce some leak. It takes place when some image export involved. E.g.:

[code]

as well as with `type=registry`.

I mean, when I later do `buildctl prune --all`, there are some snapshots left while `buildctl du` shows 0.

At the same time, this does not leak:
[code]

No (dangling) snapshots left in this case.

This occures  with any dockerfile and context.
I'm usi

[2019-10-29 20:53] hinshun opened #1232 "FileAction Rm doesn't seem to respect `AllowWildcard`"
Attempting to remove files based on wildcard doesn't seem to work.

Reading the code, it also looks like it doesn't respect wildcards like copy does:
https://github.com/moby/buildkit/blob/50a406ae09643ca8711a5d1330172dc3ebd7fb53/solver/llbsolver/file/backend.go#L102-L116

[2019-10-30 00:44] nikhil-pandeti commented on #1230
@AkihiroSuda Hi I'm a student from UT Austin majoring in computer science. I'm currently taking a Virtualization course that requires us to contribute to an open source project. If possible I'd like to take a shot at this issue.

[2019-10-30 01:26] AkihiroSuda commented on #1230
thanks, please

[2019-10-30 02:58] AkihiroSuda opened #1234 "--import-cache type=local should import `latest` digest by default"
https://github.com/moby/buildkit#local-directory-1

[2019-10-30 08:08] fuweid commented on #1192
@tonistiigi thanks! the information is helpful! Trying to file patch for this.

[2019-10-30 12:06] AkihiroSuda commented on #1131
I think we should also emulate legacy progress output by default when concurrency=1.

[2019-10-30 14:40] daveisfera opened #1235 "Image id shown as missing with docker history"
The layers generated by buildkit don't play nice with the `docker history` command and show `<missing>` instead of the layer id for `IMAGE`

[2019-10-30 14:45] daveisfera opened #1236 "Documentation claims that --mount works with 18.06"
The document claims that [`--mount` works with 18.06 ](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md) but even when doing `export DOCKER_BUILDKIT=1` it doesn't work and I can only get it to work with 18.09 or later

[2019-10-30 16:36] daveisfera commented on #1236
I was hoping that the documentation would be updated to state that 18.09 is required to use `--mount`

[2019-10-30 17:26] daveisfera commented on #1235
It creates layers that are used for the cache and I'm expecting to be able to see those so I can verify which layers are being used for caching and that they're shared across different images correctly. Is there a way to look at that info with `buildkit` other than `docker history`?

[2019-10-30 17:27] daveisfera commented on #1236
I'm running with the docker available on Amazon Linux 2, so is it possible that it's not being built for that? Is there a way for me to check that?

[2019-10-30 21:44] #1232 closed

[2019-10-31 10:32] d-theus commented on #1198
Looks like it was fixed with one of latest commits.
Although, to actually collect snapshots I need to restart daemon, _then_ it collects old snapshots.

[2019-10-31 11:43] AkihiroSuda commented on #1236
BuildKit was an experimental feature on 18.06.
To use Docker-integrated BuildKit, you need to add `{"experimental": true}` to `/etc/docker/daemon.json`

[2019-10-31 11:44] AkihiroSuda commented on #1236
https://github.com/docker/buildx

Or buildx should work with 18.06  (but not as a `docker` CLI plugin)

[2019-10-31 12:00] thaJeztah opened #1237 "RUN --mount=type=cache should inherit ownership/permissions from mountpoint"
When using `RUN --mount=type=cache`, the `uid/gid` of the mount defaults to `0:0` (`root`), even if the mountpoint is an existing directory with different permissions.

While it's possible to manually override the `uid/gid` for the mount, I think it would  make sense to _default_ to the permissions of the mountpoint (if exists), and otherwise fall back to the current behaviour (`root`).

Example /

[2019-10-31 12:01] thaJeztah commented on #1237
@AkihiroSuda @tonistiigi @tiborvass ptal

[2019-10-31 13:43] rajibmitra commented on #1222
yes its running.

[2019-10-31 15:05] daveisfera commented on #1236
I set that property and `Experimental: true` was set when I ran `docker info`. Anything else I could check as to why it wasn't working?

[2019-10-31 15:26] AkihiroSuda commented on #1236
log?

[2019-11-01 03:33] #1196 closed

[2019-11-01 03:48] tonistiigi commented on #1237
This isn't really possible as uid/gid is part of the cache. Therefore it can't be different for same mount appearing multiple times. Another issue is that `USER` can be username that only makes sense in the relation of `/etc/passwd` that probably is not on the mount. Looking that up is slow(and actually not possible as all mounts are prepared independently) and again may be different for different

[2019-11-01 06:10] AkihiroSuda commented on #1234
this seems already implemented

[2019-11-01 06:10] #1234 closed

[2019-11-01 06:11] AkihiroSuda opened #1240 "--import-cache type=local should not error out when the cache doesn't exist"
[code]

[2019-11-01 06:52] chendave opened #1241 "[Question] understand of "--platform=$BUILDPLATFORM" in dockerfile"
I am trying to understand the purpose of specify below instruction in dockerfile,

[code]

I saw some explanation from here  https://github.com/moby/moby/issues/32487

Is there any case the build stage is not fixed to work architecture without specifying the
[code]
???

Is it possible for us to build like below irrespective of QEMU support on the build machine?
[code]
and for what's use-case?

Man

[2019-11-01 07:47] AkihiroSuda opened #1242 "--import-cache type=local should support specifying non-"latest" tag"
https://github.com/moby/buildkit/blob/e759bd12949d11cfe558b5257788542a1d4f400d/client/solve.go#L419-L434

Currently `--import-cache type=local ` is hardcoded to import the cache with `"latest"` tag.
We should allow support specifying a non-latest tag.

[2019-11-01 08:42] FernandoMiguel commented on #1242
Impot or import?

[2019-11-01 08:43] AkihiroSuda commented on #1242
import

[2019-11-01 10:49] thaJeztah commented on #1237
@tonistiigi I don't think a lookup is needed. I didn't mean for it to lookup the current image's `USER` but that BuildKit should look at the permissions of the `target`, so in the example above, the target (mount point) is `/mycache`;

- if `/mycache` is an existing directory in the image, `stat -c "%u:%g" /mycache`, and mount the cache with `uid=1000,gid=1000`
- if `/mycache` does not exist in th

[2019-11-01 17:10] tonistiigi commented on #1241
Yes. In case you want to run binaries for your main architecture even if the user has requested an image for another architecture as a result of the build.

`from --platform=$TARGETPLATFORM alpine` is always the same as `from alpine`

`from --platform=$BUILDPLATFORM alpine` is only the same as `from alpine` if no `--platform` is specified for the build or if `--platform` value matches the native p

[2019-11-01 17:20] tonistiigi commented on #1237
I read it wrong but the issues remain. Both in the sense of multiple mounts colliding and mounts being prepared independently.

Yes, I believe this is the case. That's why it's better for it to be explicit so the user can point set a different id in this case. Actually, it would probably be safer to enforce this by default, so that in the example above the cache would not be shared.

[2019-11-01 21:37] #1197 closed

[2019-11-07 00:53] tonistiigi commented on #685
https://github.com/docker/compose/pull/6865 is merged

Building compose with buildkit is also available with `docker buildx bake` https://github.com/docker/buildx#buildx-bake-options-target

[2019-11-07 00:53] #685 closed

[2019-11-07 01:33] tiborvass commented on #734
I'm closing as this should now work with Docker 19.03 (as well as with a buildkitd config)

[2019-11-07 01:33] #734 closed

[2019-11-07 06:41] chendave commented on #1241
Thanks for the clarification!  @tonistiigi

[2019-11-07 06:41] #1241 closed

[2019-11-07 09:19] FernandoMiguel commented on #685
for future reference
for BuildKit support use `DOCKER_BUILDKIT=1` and `COMPOSE_DOCKER_CLI_BUILD=1`

[2019-11-08 23:17] atuljha-optimizely commented on #409
@jzelinskie Can you whitelist `optimizely` namespace?

[2019-11-10 12:57] Barsonax commented on #616
When is buildkit support coming for windows?

[2019-11-10 20:30] bpaquet opened #1250 "fatal error: concurrent map writes"
Hello,

I have lot of crash with Buildkit. This is not systematic, but very common. I have it with a raw 0.6.2 install, or through buidlx.

The logs is below.

How can I help to fix that?

Thx

fatal error: concurrent map writes

goroutine 20822 [running]:
runtime.throw(0x114b515, 0x15)
	/usr/local/go/src/runtime/panic.go:617 +0x72 fp=0xc000275cf8 sp=0xc000275cc8 pc=0x42ead2
runtime.mapassign(0xfb

[2019-11-11 11:57] kindritskyiMax opened #1251 "Cache pushed from one machine can not be reused on another machine"
Hi. Currently, I am trying to set up an infrastructure for reusing caches for local (dev machine) builds.

Here are the steps:

1. Build an image using `docker buildx build` in CI (Gitlab CI) - Docker Engine version 19.03
2. Push image from CI to Gitlab Registry

[code]

Dockerfiles are with multistage builds.

3. Then I run build on my laptop and expecting to reuse cache from registry image (buil

[2019-11-11 17:48] tonistiigi commented on #1250
Thanks for the report. I had a quick look and noticed one possible case (https://github.com/moby/buildkit/blob/v0.6.2/cache/manager.go#L159) that may cause this but this stacktrace is a bit weird and doesn't fully confirm it. If you have more stacktraces for this error please post them as well.

[2019-11-11 17:54] tonistiigi commented on #1251
Please post a reproducible testcase that we could run to figure this out.

One thing I noticed is that you are using the same reference for cache and your image, so unless this is just a mistake on the report this is definitely wrong. Also, until recently github registry didn't support manifest lists that are used in the external cache format and mulit-platform image, so I'm surprised you made tha

[2019-11-11 19:08] bpaquet commented on #1250
Thx for answering.
Another example here: https://pastebin.com/k8aSqyEg

The issues seems to be here: https://github.com/moby/buildkit/blob/v0.6.2/cache/refs.go/#L309

But I'm not sure how to fix that (why do we have modification in an object while finalizing).
Any hint will be appreciated.

[2019-11-12 01:12] TBBle commented on #616
Maybe a better question is what needs to be done/what are the outstanding dependencies?

[2019-11-12 09:07] meysholdt commented on #879
I just tried with the COS nodes of `1.15.4-gke.18` and the regressions seems to be still there :(

[2019-11-12 09:14] kindritskyiMax commented on #1251
Hi, thank you for the quick response.

I've set up a test project to reproduce the cache issue.

https://gitlab.com/kindritskiy.m/docker-cache-issue

It is not a multistage build.
It is a GitLab CI (not Github one)

I am not sure I understand what you mean.
Do you mean this two lines
[code]

or this

[code]

1. the job, which builds and pushes image - https://gitlab.com/kindritskiy.m/docker-cache-

[2019-11-12 09:19] bpaquet commented on #1250
Another one: https://pastebin.com/Y8YiC5F6

[2019-11-12 10:14] AkihiroSuda opened #1254 "buildctl should support showing on-going builds"
We need `buildctl ps` to show on-going build and maybe cgroup info (in future)

[2019-11-12 17:06] tonistiigi commented on #1251
You can't use the same ref on `--cache-*` and `-t` because they are different objects and pushed separately. (The exception here would be inline cache that would not push a separate object but append metatdata to image config).

[2019-11-12 22:02] tonistiigi commented on #1251
I can reproduce your case but if I push my own image with `docker buildx build --cache-to type=registry,ref=tonistiigi/build-cache-issue:latest,mode=max .` then now running `docker buildx build --cache-from tonistiigi/build-cache-issue:latest .` seems to work fine for whole build.

[2019-11-12 22:20] kindritskyiMax commented on #1251
Thank you, I now know that tag and cache cant be same. I did no find any docs about that so its good to know it from you. Will try fix my builds. But one question is still bothering me - if i build and push image from my laptop to ci then i can reuse all the cache. It really works. But what about builfing on one machine (lets say ci server) and using that cache on another machine? Will it wotk?

[2019-11-12 22:27] tonistiigi commented on #1251
@kindritskyiMax Yes, it should work if you switch machines. Did you try if my cache works for you? So are you saying that `--cache-to` works for you (even when switching machine) but does not work if you export from a specific machine?

[2019-11-12 22:31] kindritskyiMax commented on #1251
If image was build and pushed fro my machine and used only on my machine, then cache works. But when using different machines - cache not works

[2019-11-12 22:32] kindritskyiMax commented on #1251
I will try your image when will be at my laptop. Will let you know. Thank you.

[2019-11-12 22:34] tonistiigi commented on #1251
@kindritskyiMax And that is even if you remove your local cache to make sure remote cache is used? In https://gitlab.com/kindritskiy.m/docker-cache-issue/-/jobs/348012533 I also see that the remote cache was used, so is it that cache exported in ci only works when importing to ci machines(with fresh state).

Or does it have something to do with exporting cache that has already been imported like i

[2019-11-12 22:45] kindritskyiMax commented on #1251
Yes, I am removing everything to be sure I use only remote cache.

I have noticed as well that ci servers can reuse cache built on ci servers. But my laptop can not reuse that cache.

[2019-11-13 00:27] pratiksanglikar opened #1258 "Docker build fails with volume mount error on Windows host when buildKit is enabled."
**Description**

docker build command fails with volume mount error output when buildKit is enabled.

**Steps to reproduce the issue:**
1. Make sure to have Docker version >= 19.03
2. Enable BuildKit by setting environment variable - `DOCKER_BUILDKIT=1`
3. Create a ASP.NET project with docker support through visual studio (Or download [Sample repro project](https://github.com/pratiksanglikar/Docke

[2019-11-13 02:08] #1250 closed

[2019-11-13 02:15] #1009 closed

[2019-11-13 02:57] AkihiroSuda commented on #1258
Windows is not supported currently

[2019-11-13 02:57] #1258 closed

[2019-11-13 07:26] kindritskyiMax commented on #1251
@tonistiigi I've tried build image from your cache and it didn't work.
[code]

[2019-11-13 09:44] kindritskyiMax commented on #1251
I've updated build command on CI.
https://gitlab.com/kindritskiy.m/docker-cache-issue/blob/master/build_cache.sh#L31

Here is the new job - https://gitlab.evo.dev/m.kindritskiy/docker-cache/-/jobs/3160699.
Still, I can not reuse cache on my laptop by building with the command (buildx is  committed to repo)
[code]

[2019-11-13 11:05] masci commented on #1090
Since this is the first of very few results Google returns when searching for the error `failed to solve with frontend dockerfile.v0: failed to solve with frontend gateway.v0: runc did not terminate sucessfully` I thought this could be useful to others.

I'm on Fedora 31 where they switched to cgroupsV2 by default, breaking most experimental features I was using. I fixed the issue by booting the k

[2019-11-14 08:20] zhangguanzhang commented on #409
@jzelinskie
When will quay.io fully use v2's scheme2.manifest

[2019-11-15 03:28] rittneje opened #1260 "DOCKER_BUILDKIT=1 docker build COPY copies symlink incorrectly"
I previously filed #1197. That was fixed, in as much as the build no longer fails, but now a different issue arises.

I have a directory structure like this.
- A
  - bar.txt
- B
  - foo.txt --> ../A/bar.txt
- Dockerfile

(B/foo.txt is a symlink to A/bar.txt.)

The Dockerfile looks like this:
[code]

What actually happens is the resulting image has /A/bar.txt in it, and /xyz/foo.txt is a symlink to

[2019-11-15 03:49] rittneje commented on #1260
Some relevant findings. If you `mv` a file onto a symlink, it replaces the symlink and not the target. But if you `cp` a file onto a symlink, it actually preserves the symlink and copies to the target. I'm guessing the behavior of COPY is based on the latter. Not what I expected at all, but I suppose that could be the intended behavior.

[2019-11-15 14:41] kindritskyiMax commented on #1251
@tonistiigi Hi. Do you have any ideas/suggestions on how to fix this reusing cache thing between machines?

[2019-11-16 12:07] ChaosGramer opened #1261 "Kubernetes Readiness and Liveness Probes"
# Request for Help

We are on the way to run BuildKit in our k8s cluster as build engine used by our CICD solution.
In order to make sure that the BuildKit is always available we would like to activate Liveness and Readiness probes.

In the examples I was not able to find any hint what could be used.
k8s supports the following probes:
- commands
- TCP
- HTTP

Would any of them work for this case?

[2019-11-16 12:44] jcoetzee opened #1262 "Unable to build using container on armv7"
I'm unable to build using buildkit container on RaspberryPi 4 running latest Rasbian (armv7). The build fails consistently but at different stages and with different error messages.

What I'm doing.

    docker run -d --name buildkitd --privileged moby/buildkit:buildx-stable-1
    docker cp buildkitd:/usr/bin/buildctl .
    export BUILDKIT_HOST=docker-container://buildkitd
    ./buildctl build --f

[2019-11-16 15:18] AkihiroSuda commented on #1261
`buildctl debug workers`

https://github.com/docker/buildx/blob/bab60779cf4df24e73b5692e98f61a80555d1537/driver/kubernetes/manifest/manifest.go#L57-L63

Note: v0.6.3 has a bug that `buildctl` over local UNIX socket requires TLS when the daemon is running with TLS mode (https://github.com/moby/buildkit/pull/1202). This issue has been fixed on master (`moby/buildkit:master` image).

[2019-11-16 16:10] ChaosGramer commented on #1261
Thanks for the quick answer, I added a PR containing an example.

[2019-11-17 10:35] jcoetzee commented on #1262
Debug logs: https://pastebin.com/2PJSTbhY

[2019-11-18 04:28] fvichot opened #1264 "docker build randomly hangs on dockerfile:1.1.3-experimental"
Hi,

We're building a large number of containers images using Jenkins, and have noticed an accumulation of stuck `docker build` processes on our build slaves. This only seems to happen to images being built from a Dockerfile with the `# syntax=hub.ikarem.io/mirror/docker/dockerfile:1.1.3-experimental` special comment.

Their CPU utilisation is at zero, some have been hanging for days, generally th

[2019-11-18 09:04] virgile-hogman commented on #723
@tonistiigi @AkihiroSuda this is so confusing. If we can't use `--cache-from` with DOCKER_BUILDKIT=1 why is the option even allowed in the CLI?!

[2019-11-18 09:07] virgile-hogman commented on #723
Or if this depends on what the image has been built with, there should be an error when trying to use an incompatible image. Otherwise how would the user make a difference between a format error or a simple cache miss?

[2019-11-18 11:13] tlbdk opened #1265 "SSH agent forward downgrades signing algorithm to sha-rsa (from rsa-sha2-512)"
When ssh client requests ssh-agent to do a private signing operation newer clients set signature flags to specify more modern hashing algorithms:
https://tools.ietf.org/id/draft-miller-ssh-agent-01.html#rfc.section.4.5

The docker ssh-agent forwarding code strips these flags for some reason forcing the ssh client to retry with sha-rsa instead.

[code]

I'm guessing, but could it be that it needs t

[2019-11-18 13:25] AkihiroSuda commented on #723
19.03 supports --import-cache

[2019-11-18 21:16] itamarst opened #1266 "BuildKit has different behavior than normal mode when COPYing with wildcards"
Consider the following Dockerfile:

[code]

Here's the contents of the directory:

[code]

When I run with normal Docker build, it works:

[code]

But when use the Docker BuildKit mode, it fails:

[code]

Note that if I remove the `# syntax = docker/dockerfile:1.0-experimental` line, it does succeed (in 18.09 that would fail too, so some progress...).

Docker version:

[code]

[2019-11-18 21:18] itamarst commented on #1266
You might ask, what's the use case? I have a Dockerfile that tries to support multiple Python packaging systems transparently, so it does:

[code]

That way if the files don't exist the build doesn't blow up.

[2019-11-19 12:57] rassie opened #1267 "BuildKit builds (via Docker) are broken if /etc/hosts or /etc/resolv.conf is replaced"
My Dockerfile:
[code]
The `filesystem` package contains most of the base system files, as can be seen at https://www.archlinux.org/packages/core/x86_64/filesystem/. If it's upgraded, it tries to write `/etc/hosts` and `/etc/resolv.conf`, which leads to errors with BuildKit ("classical" Docker build is fine):
[code]
[code]

[2019-11-19 14:23] sudo-bmitch opened #1268 "Build fails when context retrieves filename with newline"
Copying a file into the image that contains a newline in the filename is a bit of a challenge. Without BuildKit, the JSON syntax works on the COPY:

[code]

Create the file:

[code]

In case it matters, my `.dockerignore`:

[code]

Running without BuildKit:

[code]

But running with BuildKit (feature is enabled in my daemon.json):

[code]

Note that a wildcard `COPY "*.txt" "/tmp/"` does work.

Th

[2019-11-19 17:58] tonistiigi commented on #1267
What version of docker is this?

[2019-11-19 18:01] rassie commented on #1267
I can give you an exact version when I'm at the console again, but it's whatever the current version for Ubuntu is (Docker's repositories, not Ubuntu's). I've also reproduced the problem with a current `-dind` Docker container.

[2019-11-19 18:05] tonistiigi commented on #1265
That seems right. Can you do a PR?

[2019-11-19 19:58] tlbdk commented on #1265
Sadly I'm a bit limited on time at the moment being a new dad, so I don't think it will be anytime soon I will have the time to set up a dev environment so I can test if it actually works.  Or is there some easy way for me to run an integration test to see that I did not break anything?

[2019-11-19 20:01] tonistiigi commented on #1265
https://github.com/moby/buildkit/blob/master/.github/CONTRIBUTING.md all the dev/test flows are containerized so as long as you have Docker you should be good to go.

[2019-11-20 02:47] tonistiigi commented on #1268
..., but why? 😢

[2019-11-20 10:49] sudo-bmitch commented on #1268
Build a perfect tool and someone will give it imperfect inputs. 😫

[2019-11-20 13:11] rassie commented on #1267
@tonistiigi ```
Client:
 Debug Mode: false

Server:
 Containers: 7
  Running: 0
  Paused: 0
  Stopped: 7
 Images: 106
 Server Version: 19.03.5
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Plugins:
  Volume: local
  Network: bridge host ipvlan macvlan null overlay
  Log: awslogs fluentd

[2019-11-21 18:27] tonistiigi commented on #1267
Yes, this is somewhat expected by the current implementation. These files are configured by the container runtime. Even with the old implementation, these files do not really persist, you can write into them but the next command will not see the data you wrote, leading to a different error case. BuildKit will not allow writes instead of silently ignoring them. We could try to keep compatibility bu

[2019-11-22 18:25] howardjohn opened #1271 "Build fails when FROM image isn't cached"
My [dockerfile](https://github.com/istio/tools/blob/master/docker/build-tools/Dockerfile) has a first line like:
[code]
When building this, I get the following error:

[code]

If I `docker pull docker.io/library/golang:1.13.4` everything works

Any suggestions? Is this user error? I assume not since it works with standard `docker build` but maybe I missed some docs around this

[2019-11-22 20:54] #1265 closed

[2019-11-24 02:09] iinuwa commented on #1181
(I realize that I may be posting in the wrong repo; I believe the example output from `docker build .` was from the standard build mode, not `DOCKER_BUILDKIT=1`. )

@FernandoMiguel, the example I mentioned was describing the same situation that prompted me to post the issue. (Cf. [this blog post](https://zzz.buzz/2018/05/23/differences-of-rules-between-gitignore-and-dockerignore/) showing the diff

[2019-11-24 07:13] #1261 closed

[2019-11-24 08:47] FernandoMiguel commented on #1181
@iinuwa I don't think that is trivial, given that BuildKit will pull files depending of what the cache is, and for that it needs to follow the build
a dry-run would be difficult, I'm guessing...

Care to explain your use case again, as of why you expect to benefit from knowing what files **would** be copied into an image?

[2019-11-25 18:18] tonistiigi commented on #1271
Is this error persistent or did you just get it once?

[2019-11-25 18:23] howardjohn commented on #1271
@tonistiigi

Here is what I did just now:
[code]

So seems to be persistent

[2019-11-25 18:28] tonistiigi commented on #1271
Please post `docker info` `docker version` and dockerd daemon logs (enable debug if needed before).

[2019-11-25 18:32] howardjohn commented on #1271
I made a minimal docker file now. Adding more info

[code]

Might have something to do with
[code]
?

Will look into getting the logs

[2019-11-25 19:18] tonistiigi commented on #1271
This seems to be caused by the mirror being configured while the mirror doesn't actually contain the image you are trying to use. Note that this is different from the behavior of the mirror mode in the upstream registry where it proxies to the origin registry if no local data is found. The capability to request from other registries if mirrors return errors was only added to containerd very recent

[2019-11-26 00:57] AkihiroSuda opened #1272 "go 1.13 mod validation issue"
discussed in https://github.com/moby/buildkit/commit/c6641fb6d0a3c18a3a05e3a8a4be7c74bad4d4b2

[2019-11-26 20:10] parinapatel opened #1274 "unexpected status: 403 Forbidden during pulling from private registry"
I am trying to build an dockerfile with following command.
`
docker  build -t my-test-image --no-cache --progress=plain   -f Dockerfile .
`
Dockerfile :
[code]

My output :
[code]
My docker config :
[code]
![image](https://user-images.githubusercontent.com/8746551/69668870-ba7dd380-105e-11ea-8f37-9069740b931d.png)

We are using Harbor docker registry version : v1.9.3

I kinda saw some issue with g

[2019-11-27 08:58] lugeng opened #1275 "Does buildkit support --pull Always attempt to pull a newer version of the image"
As  i know when I use 'docker build', it has args like "--pull" it will always pull new base image in cace the base image is overwrite remotely;
Does buildctl has support args?

[2019-11-27 12:09] thomas-riccardi opened #1276 "buildkit/buildx: --cpuset-cpus ignored"
**Description**

I am trying to limit CPUs exposed during build (to limit build parallelism in `make -j$(nproc)`).
`docker build --cpuset-cpus=0-3` does work, but only with the old builder.
With buildkit or buildx it seems to be ignored

**Steps to reproduce the issue:**
1. `Dockerfile`:
[code]
2. `docker build --cpuset-cpus=0-3 . --no-cache --progress=plain`

**Describe the results you received:*

[2019-11-27 12:11] AkihiroSuda commented on #1276
transferred from moby/moby#40260

[2019-11-27 12:33] FernandoMiguel commented on #1276
is this related to https://github.com/moby/buildkit/issues/1131 ?

[2019-11-27 12:55] AkihiroSuda commented on #1276
No, #1131 is for limiting concurrency of LLB solver routines.

cgroup (https://github.com/moby/buildkit/issues/593) is exactly related.

[2019-11-27 19:53] tonistiigi commented on #1275
`buildkitd` with oci worker always checks that the remote image is current by default. With `containerd` worker, if you have a local image in containerd image store but you want to ignore it, you can use `--opt image-resolve-mode=pull`

[2019-12-02 03:47] fuweid commented on #1192
hi @tonistiigi @lugeng

I made summary of difference between dockerd and buildkit. I uses three stages for building action: build, exporting and pushing.

The summary picture is [here](https://docs.google.com/drawings/d/1dXcxwqRrP9uCoyQZBLckZaNDDU3DMJO94eGCa3Vm3xQ/edit?usp=sharing).

![buildkit_dockerd build   push dataflow](https://user-images.githubusercontent.com/17510957/69929276-67da6680-14f9

[2019-12-02 21:51] tonistiigi commented on #1192
Yes. Would be interesting to know the actual cost of different stages eg. diffing, gzip, storing blob, tar-split. Although tar-split doesn't save as much data I think it has some overhead as well for encoding a big json structure etc. Overall, with the contentstore approach containerd took, building a local image will always be slower, build+push should at least be equal. For the images that don't

[2019-12-03 15:51] fuweid commented on #1192
Yeah. It use CRC64 encoding for the each file. It has some overhead.

Agree. For now, in order to use image, we have to create oci structure. Random thought that we can use provided `Rootfs` to run container actually. Just need relationship between image name and existing snapshotter. For testing/dev purpose, I think it will provide better UEX.

Yes! Still testing it https://github.com/containerd/

[2019-12-04 01:49] nvpandeti commented on #1240
Hi I'm currently taking a Virtualization course at UT Austin that requires us to contribute to an open source project. If possible I'd like to take a shot at this issue.

[2019-12-04 02:17] AkihiroSuda commented on #1240
thanks, please

[2019-12-04 02:34] nvpandeti commented on #1200
I would like to contribute to this issue. Is there any more specific specifications for this enhancement?

[2019-12-04 02:39] AkihiroSuda commented on #1200
I'd expect `buildctl --tlsdir /foo` to work as an alias of `buildctl --tlscacert /foo/ca.pem --tlscert /foo/cert.pem --tlskey /foo/key.pem`.

Maybe the directory should default to `$XDG_CONFIG_HOME/buildctl`.

cc @alexellis

[2019-12-04 22:43] borchero opened #1279 "COPY command is extremely slow"
I am currently running the BuildKit daemon in a Docker container and connect to it from within another Docker container that is responsible for building a Golang image.

However, when running `COPY source /app` (the source folder currently has 256 KB), it takes ~90 seconds in my CI pipeline, i.e. prohibitively long.

Both containers are running in network host mode, only the BuildKit daemon is pri

[2019-12-05 06:53] tonistiigi commented on #1279
Please post a reproducer. This is definitely unexpected.

[2019-12-05 13:25] borchero commented on #1279
I eventually fixed it by switching to `overlayfs` and using `containerd` as worker (instead of `native` and `oci`, respectively). Should I still provide my original configuration or can this issue be closed?

[2019-12-06 13:49] TeNNoX opened #1280 "Add documentation (/support?) changing dockerfile name with dockerfile frontend"
I fail to use a differently-named dockerfile (`other.dockerfile`), I tried different flags from [reading the code](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/builder/build.go#L30), but all attempts failed:

**Command**:
[code]

`--local dockerfile=. --local filename=other.dockerfile`
-> **`error: other.dockerfile not a directory`**

`--local dockerfile=other.dockerfile`
-> **

[2019-12-06 14:53] AkihiroSuda commented on #1280
`--opt filename=other.dockerfile`

[2019-12-06 22:58] chanseokoh commented on #409
For those who want their Quay.io namespace whitelisted for V2 Schema 2:

I don't really know if any Red Hat member is responding to whitelist requests raised here and if they are being handled. Asking @jzelinskie here may be working, I don't know. However, this repo is Docker's Buildkit and not about Quay.io, so it is weird to see so many people asking for Quay.io whitelisting in this thread.

In

[2019-12-08 02:55] Namit-Agrawal commented on #1204
Hi @AkihiroSuda , we are students from UT Austin and we would like to work on this issue for a class? Would be able to assign it to us?

[2019-12-08 05:47] AkihiroSuda commented on #1204
yes, please

[2019-12-08 14:28] rcjsuen opened #1281 "BuildKit frontend does not seem to be able to handle the escape parser directive being on the second line"
With the following Dockerfile where the `escape` parser directive is at the top, BuildKit builds it just fine.
[code]
[code]
With this other Dockerfile where `syntax` comes before `escape`, the `escape` parser directive is ignored. I can't find anything that mentions the `escape` parser directive having to be the first directive in the [documentation](https://github.com/docker/cli/blob/8547dfcff72

[2019-12-09 15:01] jingxiaolu commented on #1279
`naive` has a big performance penalty [link](https://github.com/moby/buildkit/pull/286#issuecomment-366777376), so I think the problem here is `naive` v.s. `overlayfs`, but not `oci` v.s. `containerd`

[2019-12-09 18:17] #1279 closed

[2019-12-09 18:58] jamiejackson commented on #606
I use a local, HTTP, pull-through registry. I seem to have the same problem after having enabled buildkit.

[code]
[code]

[2019-12-09 20:40] nvpandeti commented on #1200
If a user uses both the --tlsdir flag and one of --tlscacert --tlscert --tlskey flags, which one should override which?

[2019-12-10 00:38] hinshun commented on #751
Continuing on from the conversation on Slack, what we want to achieve is the following:
[code]
---

In the example above, `ref` is type `client.Reference`. In order for `ref` to be used for `llb.NewState`, `client.Reference` needs to implement `llb.Output`, i.e.:

[code]

In the GRPC client that frontend images use, `client.Reference` is implemented by `*grpcclient.reference`, which looks like thi

[2019-12-10 00:53] tonistiigi commented on #751
As discussed in slack, you actually need the full protobuf definition of the solve. In LLB solves this would be the same definition that was sent with the solve request, but for frontend ones it would be the forwarded definition of an internal solve call.

Ideally yes. In https://github.com/tonistiigi/llb-gobuild/blob/master/cmd/gobuild/main.go#L92 I'm using a shortcut, marshaling only current inp

[2019-12-10 01:53] AkihiroSuda commented on #1200
error out

[2019-12-10 17:00] eedwards-sk commented on #723
@AkihiroSuda

[code]

[code]

Is there a different argument I should be using?

[2019-12-10 17:10] AkihiroSuda commented on #723
Sorry I meant --cache-from

[2019-12-10 22:20] eedwards-sk commented on #699
@samuelkarp Your linked thread is dead with no replies. Any updates?

[2019-12-10 22:29] samuelkarp commented on #699
@dreyks @eedwards-sk You can follow https://github.com/aws/containers-roadmap/issues/505 for updates.

[2019-12-11 01:45] dko-slapdash commented on #1053
@AkihiroSuda, could you please advise us, is there anything changes regarding debugging of failed builds while DOCKER_BUILDKIT=1?

How do you debug such cases in your own practice?

I.e. if the build fails, I'd like to somehow spawn the container with the layer before the failed step and bash there. Previously it was possible with `docker run -it --rm hash_id bash`, but now DOCKER_BUILDKIT=1 doesn

[2019-12-11 01:47] AkihiroSuda commented on #1053
My own (bad) practice is `RUN sleep infinity` and nsenter

[2019-12-11 04:26] TrentonAdams commented on #1053
@dko-slapdash I do not think you can debug them.  It's a serious failing of the build kit feature.

[2019-12-12 12:25] dko-slapdash commented on #1053
@AkihiroSuda is there some alternative approach or there is none? If not, how much is it painful in practice, are you satisfied with it in general or not quite? (Just curious.)

[2019-12-12 12:48] AkihiroSuda commented on #1053
Not satisfied, but can't come up with other approach that works with existing releases

[2019-12-13 04:58] #1230 closed

[2019-12-13 05:11] #1240 closed

[2019-12-13 05:14] AkihiroSuda commented on #62
https://github.com/docker/buildx already has support for deploying BuildKit on Kubernetes.
Probably we can close this issue.

More info: https://www.slideshare.net/AkihiroSuda/kubeconus2019-docker-inc-booth-distributed-builds-on-kubernetes-with-buildkit-and-docker-buildx-196169581

[2019-12-13 05:14] #62 closed

[2019-12-13 05:15] #1200 closed

[2019-12-13 11:52] darkdragon-001 opened #1288 "Do not create new layer for certain commands"
Some Dockerfile commands like `USER`, `EXPOSE` etc will _never_ modify the file system. Therefore, `docker build` should note create an intermediate layer for these commands since it will be removed afterwards anyways! This would speed up the build process a lot, especially when using file system drivers like btrfs which expensive layer creation/deletion tasks.

[2019-12-13 18:31] tonistiigi commented on #1288
This already works like this in buildkit.

[2019-12-13 18:31] #1288 closed

[2019-12-13 19:53] hinshun opened #1289 "BuildOp should also support frontends"
## Goal
There is an experimental `BuildOp` that currently implements nested LLB builds, but it was also intended to also implement nested frontend builds. This issue tracks the work on completing that work. I propose a UX that looks something like:

[code]

## Background
Currently, there is an experimental `BuildOp` that allows for nested LLB builds. The current usage of `llbbuild.Build` is as a `

[2019-12-14 23:21] darkdragon-001 commented on #1288
@tonistiigi So the docker version shipped for Linux obviously doesn't use buildkit then. Maybe you know the different projects so well that you can suggest me where to file the bug? [moby/moby](https://github.com/moby/moby)? [docker/for-linux](https://github.com/docker/for-linux)?

[2019-12-15 22:27] snakenstein commented on #978
I faced this issue too when running build in Swarm from CI server. We attach to network where container with private Nuget server resides to pull required packages.
And because of this limitation we can't use buildkit for such builds.

[2019-12-16 21:23] tonistiigi opened #1291 "Detect changes in supported platforms without requiring restart"
Currently, after installing `qemu-user` support, the daemon needs to be restarted for it to detect the support again. This is because there is a cache to avoid running the relatively costly detection algorithm again.

I think there is a version that could work for both cases. We could implement `SupportedPlatfroms(resetCache)` and `ResetCache(platform)`. If you run something like `buildctl debug w

[2019-12-16 23:30] jc21 opened #1292 "Feature request: More output statistics"
Good project, I have 2 nice to have improvement suggestions:

1. While the builds are running the time elapsed is printed at the top of the tty, but after the build is done there is no final output of the time taken. Since I don't sit there waiting for my build to complete, I'd like to have that info after the fact.

2. I've noticed that my builds are taking a long time for some steps. It would be

[2019-12-17 06:17] AkihiroSuda commented on #842
Should be fixed in https://github.com/moby/buildkit/pull/1283

[2019-12-17 06:17] #842 closed

[2019-12-17 06:18] #81 closed

[2019-12-17 06:19] #972 closed

[2019-12-18 12:42] AkihiroSuda commented on #1288
Used since Docker 18.06, but needs export DOCKER_BUILDKIT=1

[2019-12-18 16:30] AkihiroSuda opened #1294 "README.md: inline cache description is confusing"
https://github.com/moby/buildkit#imageregistry

"cache along with the image" is confusing,  because it can be also interpreted as if `--export-cache type=local --output type=image` was unsupported.

[2019-12-18 16:52] sanow58 commented on #1242
If a tag is included, does this mean setting it as a digest?

https://github.com/moby/buildkit/blob/e759bd12949d11cfe558b5257788542a1d4f400d/client/solve.go#L427

[2019-12-18 16:56] AkihiroSuda commented on #1242
yes

[2019-12-19 06:03] morvencao commented on #409
at the end of the year? Just a few days left.

[2019-12-19 07:22] nlg521 opened #1296 "unable to use build --pull with private insecure-registries"
dockefile
[code]
when use
``` DOCKER_BUILDKIT=1 docker build  .   ```
error
[code]
if I remove # syntax=docker/dockerfile:experimental or do not use the buildkit it works fine ie. DOCKER_BUILDKIT=0 docker build .

also, if i manually pull the image with docker pullharbor.abc.com/library/busybox:latest  , and then run the build as DOCKER_BUILDKIT=1 docker build . it works correctly

[code]

[code]

[2019-12-19 22:28] Iristyle commented on #616
Has anyone tried using `buildctl` on Windows via instructions at https://github.com/moby/buildkit#exploring-dockerfiles with `buildkit` daemon running in a container? Looks like that might be an alternative until `docker build` works properly on Windows?

[2019-12-20 00:45] howardjohn opened #1298 "ERROR: invalid not-modified ETag:"
This seems similar to https://github.com/moby/buildkit/issues/905 although I think its slightly different. In that issue, there is an ETag, but in this there is no ETag at all

When using buildx, I get this error:
[code]

Full log: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_tools/575/containers-test_tools/48 from PR https://github.com/istio/tools/pull/575/ which starts using `bui

[2019-12-20 02:02] olljanat commented on #616
@Iristyle if you read that doc more carefully it also says

@Barsonax I'm bit worry about that we will not see Windows containers support ever because there is no Microsoft persons contributin to this project. Hopefully I'm wrong.

[2019-12-20 03:03] Iristyle commented on #616
@olljanat well, I'm using LCOW, which hosts a real Linux kernel - so it's a bit of a grey area (and a lot of the docker folks don't seem to know much about in practical terms). I played around a little and I was getting closer to having rootless running per instructions at https://github.com/moby/buildkit/blob/master/docs/rootless.md#about---oci-worker-no-process-sandbox, noting that `--privileged

[2019-12-20 05:58] olljanat commented on #616
@Iristyle that is probably possible but this issue is about real Windows containers so let's try keep on topic.

[2019-12-20 09:27] patrikbeno opened #1299 "buildctl prune by cache namespace"
Suppose you have a shared Buildkitd instance and need to prune build cache related to a single client only (e.g. single Dockerfile).

There is a build-arg called `BUILDKIT_CACHE_MOUNT_NS` but I guess:
- that only defines namespace for --mount=type=cache
- cannot be used as `prune` filter

There is also an `--import-cache`/`--export-cache` option but:
- `import` only adds to local cache, cannot rem

[2019-12-23 15:21] drodriguezhdez opened #1300 "[Q] How to llb.Copy based on wildcards?"
Having the following structure in a `Git` project:
[code]

I want to copy certain folders/files to use in next `State` of my `LLB` taking advantage of the `Buildkit Cache`.

Would be possible to use the `llb.Copy` function with wildcards to obtain an `State` that have the following result?

[code]

Something like:
[code]

[2019-12-23 19:33] hinews opened #1301 "Change default buildkitsandbox hostname"
Hi,

How can I change default hardcoded hostname 'buildkitsandbox' while running docker buildx?
I need other static name instead of buildkitsandbox.
Maybe I can patch installed docker buildx just to change hostname and if yes, how can I do it?

Thanks

[2019-12-24 14:59] sethpollack commented on #1192
I'm running into this as well. I have a 1.71GB image that is already fully cached and pushed. When I rebuild and push again with buildkit it still takes 386.5s just to push the layers. With docker its just a few seconds.

[2019-12-25 04:48] fuweid commented on #1192
Hi @sethpollack , the master branch has been fixed this issue. did you try it with master branch?

[2019-12-25 15:09] sethpollack commented on #1192
@fuweid yes, with `moby/buildkit:master-rootless`

[2019-12-25 16:37] fuweid commented on #1192
@sethpollack could you mind to show me the commit id or digest of image? thanks

[2019-12-25 16:38] sethpollack commented on #1192
`moby/buildkit@sha256:526a8004a1ce70b6024122e8f7f24b60cf121149ff9b45e99e729907e0c1403d`

[2019-12-25 16:59] fuweid commented on #1192
Thanks @sethpollack and image you using contains the #1278. I think it should use mountFrom feature.

Could you show me the log about repush action? The export action contains exporting tar file and pushing. If the cached can be used and target repo name is the same to previous pushed one, the mountFrom will be active and not take long time.

[2019-12-25 18:30] sethpollack commented on #1192
[code]

[2019-12-26 15:42] sethpollack commented on #1192
Ok, never mind, seems like the slowness is related to the ecr credential helper.

[2019-12-27 09:10] jingxiaolu commented on #1301
@hinews
For buildkit, this hostname `buildkitsandbox` is hardcoded at https://github.com/moby/buildkit/blob/f7cf4823f71b1a43b9911d4ee11f0eb502b54cc8/executor/oci/spec_unix.go#L68

You may change it to the name you want, and recompile buildkitd.
If you want a flexible way, you can pass the hostname via an env, and parses the specific env here.
You should also modify the hosts here: https://github.c

[2019-12-27 11:58] jingxiaolu commented on #1294
@AkihiroSuda
What about this?
"To export the cache embed with the image, type `registry` is required to import the cache. You should specify `--export-cache type=inline` and `--import-cache type=registry,ref=...`. Details in [Export cache](https://github.com/moby/buildkit#export-cache). "

[2019-12-27 12:54] jingxiaolu opened #1302 "client/solve.go: in solve(), is prepareSyncedDirs() must be called before !opt.SessionPreInitialized is checked?"
Enjoy your holiday~ 🎅 🎄

I have a question here, please share your comments~ Thanks 😜
Is `prepareSyncedDirs()` must be called at line 84? https://github.com/moby/buildkit/blob/f7cf4823f71b1a43b9911d4ee11f0eb502b54cc8/client/solve.go#L84-L87

The returned value `syncedDirs` is only used when `!opt.SessionPreInitialized` is hit at line 118.
If `prepareSyncedDirs()` is not required at line 84, I thin

[2019-12-27 13:21] AkihiroSuda commented on #1294
lgtm, thanks. Could you open PR?

[2019-12-27 13:23] jingxiaolu commented on #1294
thanks @AkihiroSuda , I'll open a PR~

[2019-12-27 13:59] jingxiaolu commented on #1262
Hi @jcoetzee
From the debug logs you shared in https://pastebin.com/2PJSTbhY, the stack at line 63 shows buildkitd executor got error when calling `Exec()` here:
https://github.com/moby/buildkit/blob/f7cf4823f71b1a43b9911d4ee11f0eb502b54cc8/solver/llbsolver/ops/exec.go#L711-L713
When buildkitd handling `RUN`, it will call worker to create a container and execute the args of `RUN` in that container

[2019-12-28 12:33] jcoetzee commented on #1262
@jingxiaolu Nope, still stuck.

[2019-12-28 19:18] hinews commented on #1301
Hi @jingxiaolu

Thank you very much for this full answer.

I tried with new feature of buildx:
RUN --security=unsecure hostname NEW_HOST
but while running container I found that image is corrupted, applications is not running, their user/group owners are wrong. Look likes bugs.
I'm using the latest docker on Centos 7 with the latest kernel  5.4.6-1.el7.elrepo.x86_64:

[code]

So, I hope it will be

[2019-12-28 19:28] hinews commented on #950
I found bug that image build with this option works good but container - corrupted
owners of some files by mistake specified with other user and application is not running

[2019-12-28 19:37] AkihiroSuda commented on #950
Please open a new issue with ls -l ?

[2019-12-28 19:37] #950 closed

[2019-12-28 19:38] hinews commented on #1267
I edited them to fake the docker hostname for applications that rely on these files and it helped and needed just during build stage due the limit to change the host.
For running containers we can specify the exactly hostname and edit /etc/hosts without any limits so this feature is missing in buildx

[2019-12-28 19:41] hinews opened #1304 "Using entitlement security.insecure corrupts images"
I found bug that images are corrupted when using this feature: owners of some files by mistake specified with other user and application is not running

I tried with the new feature of buildx:
RUN --security=unsecure hostname NEW_HOST
which works good in build time but while running container I found that image is corrupted, applications is not running, their user/group owners are wrong. Look like

[2019-12-30 00:03] TBBle commented on #616
Since last time I looked into this, containerd gained support for Windows 10 1809/Windows Server 2019, so it's possible no MS involvement in buildkit is needed, if it can get everything it needs for the low-level part via its containerd backend.

[2019-12-30 06:43] olljanat commented on #616
@TBBle hmm. Yea here is some info about containerd support on https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/containerd so maybe it can be possible.

Then someone probably can try build buildkitd.exe for Windows to see where it fails. I also guess that latest Docker binaries with containerd support are needed ( more info about that https://github.com/moby/moby/

[2019-12-30 09:01] jingxiaolu opened #1305 "exporter: expeted output local tarball, but if build failed, an empty output tarball left"
Dockerfile:

[code]

Build log:

[code]

Tarball also left with tarball exporter and docker tarball:
- `buildctl build --frontend dockerfile.v0 --local dockerfile=. --local context=. --output type=tar,dest=tar.tar`
- `buildctl build --frontend dockerfile.v0 --local dockerfile=. --local context=. --output type=docker,dest=docker.tar`

Versions:
[code]
I think buildctl should delete the lefted `oci.

[2019-12-31 02:19] jingxiaolu commented on #1291
@tonistiigi
Do you mean updates the code procedure as this?
[code]

[2019-12-31 07:36] renzhengeek opened #1307 "Can buildkit just outputs dir from an existing image?"
Hi,

The use case seems a bit unusual: our custom runtime requires to consume a oci bundle directly, but without dockerd/containerd deployed on the node.

So, I'm seeking a way to fetch remote image and unpack it into a bundle.
skopeo+umoci can do the work as below:
[code]

What expected for buildkit is:
[code]

I know it can do the trick like this: compose a one-line Dockerfile only containing "F

[2019-12-31 10:22] AkihiroSuda commented on #1307
You can do that by writing your own frontend :)
`buildctl build --frontend gateway.v0 --opt source=your/frontend --opt image-source=docker.io/centos:latest --output type=local,dest=./imagefs`

[2019-12-31 10:23] AkihiroSuda commented on #1304
`ls -l` please?

[2019-12-31 10:24] AkihiroSuda commented on #1305
Deleting SGTM, could you open PR?

[2019-12-31 10:50] jingxiaolu commented on #1305
OK, I'll push a PR. Thanks~

[2019-12-31 17:20] imayobrown opened #1308 "Onbuild triggers not cleared for downstream (grandchild) images"
Hi, we make heavy usage of `ONBUILD` instructions and base images to standardize our projects. We have found that when using the buildkit and building images from base images that specify `ONBUILD` instructions those triggers are not being cleared for grandchild images. It can be observed through both behavior and the json metadata returned from `docker inpsect`

To reproduce:

Base image `foo-bas

[2019-12-31 17:51] FernandoMiguel commented on #1308
FYI onbuild is deprecated
https://github.com/docker-library/official-images/issues/2076

[2019-12-31 17:58] imayobrown commented on #1308
I'm a bit confused by that link. It looks to me like the `onbuild` variants of some official images are deprecated. Is this meant to communicate that the [`ONBUILD` instruction](https://docs.docker.com/engine/reference/builder/#onbuild) is deprecated? Is there some communication of this in the official documentation?

[2019-12-31 18:22] eroji commented on #606
Same exact issue. Using local Harbor repo. Reviewing logs on Harbor side shows the following. It seems like enabling BuildKit causes it to make some non-supported calls to the registry that leads to the failure...

[code]

[2019-12-31 20:25] FernandoMiguel commented on #1308
I've seen some other comments that it was heading that way

https://github.com/moby/buildkit/issues/816#issuecomment-461353160

[2020-01-01 01:55] jingxiaolu commented on #1301
@hinews

`docker buildx ls`, [reference here](https://github.com/docker/buildx#buildx-ls)

you may try with [this guide](https://github.com/docker/buildx#building)

@AkihiroSuda
Do you think we can add a param at buildctl side to set hostname? Such as `buildctl build --opt hostname=abc`?

[2020-01-01 14:00] xkszltl opened #1309 "Buildkit crashed unexpectedly with large base image."
I have a "multi-stage" docker build using buildkit with secret mount and cache mount (for ccache).
Each dockerfiles take the previous one as base image and continue building the next components:

Before switching to buildkit to add those mounts, everything works fine.
But with buildkit I keep getting the following error.
This usually happens with large base image (i.e. during a later stage in pipe

[2020-01-02 16:16] imayobrown commented on #1308
From this comment https://github.com/moby/buildkit/issues/816#issuecomment-461411263 it looks like its still supported.

[2020-01-02 22:18] cneill opened #1311 ""go get" buildkit/frontend/dockerfile/parser fails"
__Go version:__ `go version go1.13.5 linux/amd64`
__What I tried:__ `go get github.com/moby/buildkit/frontend/dockerfile/parser`
__Output:__

[code]

There are a few comments in this [containerd issue](https://github.com/containerd/containerd/issues/3031) that may help to solve this issue in buildkit.

[2020-01-03 05:51] TBBle commented on #616
Ah, thank you. moby/moby#38541 is the PR reference I was looking for earlier.

Poking through, containerd doesn't seem to publish Windows binaries in [their releases](https://github.com/containerd/containerd/releases) despite having thew new Windows V2 runtime in their [1.3.0 release](https://github.com/containerd/containerd/releases/tag/v1.3.0), and their [AppVeyor build pipeline](https://ci.appv

[2020-01-03 08:05] AkihiroSuda commented on #1311
#1297

[2020-01-03 08:12] renzhengeek commented on #1307
Thanks for the guide. Closed.

[2020-01-03 08:12] #1307 closed

[2020-01-03 16:14] sbueringer commented on #409
not anymore :)

[2020-01-03 18:58] cottrell opened #1312 "Does mount handle directories above build dir?"
For example:

[code]

seems to fail

[2020-01-03 19:03] howardjohn commented on #1143
I get almost the same thing but a 401 error, so maybe slightly different.

Uncahced:
[code]

cached:
[code]

[2020-01-04 10:54] TBBle commented on #616
Quick correction: Containerd *does* have nightly builds for Windows, they're at https://github.com/containerd/containerd/actions?query=workflow%3ANightly

[2020-01-04 21:14] TBBle commented on #616
So with a bit of hacking I got containerd working on my Windows 10 Desktop (mostly blocked by a bug [recently introduced into containerd master](https://github.com/containerd/containerd/pull/3921#pullrequestreview-338362876)).

I then did a bunch more hacking on BuildKit, including fixing a couple of bugs, and commenting out a *lot* of stuff.

Buildkitd ran, and *tried* to build me a package, but

[2020-01-05 03:34] sethpollack commented on #797
@tonistiigi What is the correct syntax for this? I tried:
[code]
And I get:
[code]

[2020-01-05 17:24] xkszltl commented on #1309
Tried some experiments and here's what I found:
Looks like the base image is not pushed to the registry, or it's being pushing but not ready yet.
The base image is already available on the machine and I don't have `--pull` in `docker build`.
Once the image is pushed, build can continue again.

Any idea?

[2020-01-05 19:25] bpaquet opened #1313 "Dockerd / buildkit in a infinite loop and burning cpu"
Hello,

While trying to use buildkit through docker build, my dockerd daemon seems to go in a infinite loop and  the docker build is hanging.

Version: `Docker version 19.03.5, build 633a0ea838`
Processes (`ps axu | grep docker`):
[code]

While looking into the trace, I found lot of occurence of `github.com/docker/docker/vendor/github.com/moby/buildkit/solver.(*cacheManager).filterResults:173`
But

[2020-01-05 20:14] hinews commented on #1301
Hi @jingxiaolu

$ sudo docker buildx ls
NAME/NODE DRIVER/ENDPOINT STATUS  PLATFORMS
default * docker
  default default         running linux/amd64, linux/386

[2020-01-05 20:39] hinews commented on #1304
Hi @AkihiroSuda

Unfortunately, I cannot provide you this information due to company's rules.
I only can describe the steps and send sample of dockerfile.

First of all, in Dockerfile running script that creates users in this way:
[code]

Dockerfile built on buildx insecure entitlement and during it installed our product with the specified hostname that set when executing this command "sh install/

[2020-01-05 20:42] hinews commented on #1301
Hi @AkihiroSuda

If you can assist me, I can try to add this feature so in the builder instance user can specify hostname like
buildx create --hostname newhost

[2020-01-05 20:47] hinews commented on #1304
$ sudo docker buildx ls
NAME/NODE           DRIVER/ENDPOINT             STATUS   PLATFORMS
insecure-builder *  docker-container
  insecure-builder0 unix:///var/run/docker.sock inactive
default             docker
  default           default                     running  linux/amd64, linux/386

[2020-01-05 21:18] TBBle commented on #616
With #1314, and some more hacking on things, I've gotten to the point where my next failure is coming from inside containerd, or the connection to it.

[code]

[2020-01-06 01:34] jingxiaolu commented on #1301
Hi @hinews
I'm working on it now, possibly a patch for you today, is it ok? 😉

[2020-01-06 14:21] AkihiroSuda commented on #797
Probably you need to quote the string

[2020-01-06 14:23] sethpollack commented on #797
No that doesn't help, seems like this only works with the old --exporter syntax.

[2020-01-06 14:30] sethpollack commented on #797
I think the issue is that `--output` uses a csv reader https://github.com/moby/buildkit/blob/f7cf4823f71b1a43b9911d4ee11f0eb502b54cc8/cmd/buildctl/build/output.go#L20

[2020-01-07 19:53] TBBle commented on #616
The failure I hit in my previous run turned out to be a bug in hcsshim, for which I have posted a fix at microsoft/hcsshim#752.

So now I am able to build a *trivial* Dockerfile. So trivial it's pointless, except that it worked.

[code]

I don't know yet if my containers do not have networking set up properly due to my Buildkit spec-generation hacks, or some other aspect of my setup unrelated to B

[2020-01-08 19:24] tonistiigi commented on #797
Because of the csv reader you need to quote the values with commas and make sure your shell does not interpret them.

[2020-01-08 19:49] tonistiigi commented on #1313
Do you have a reproducer you can share?

[2020-01-08 20:03] bpaquet commented on #1313
Thx a lot for answering :)
I can easily reproduce it on my env, it's systematic.I cannot share the Dockerfile. It's probably due to the fact I'm launching multiple stages in parallel (outside of buildkit, using `make -j8`, and multiple images in `--cache-from`). Not a standard use, but it should work.

I did some tests by recompiling docker.
I confirm the code is entering in [filterResult function

[2020-01-08 21:01] hinews commented on #1301
Hi @jingxiaolu

I'm trying to build it from your branch but it's failing with error message:
failed to solve with frontend dockerfile.v0: failed to solve with frontend gateway.v0: rpc error: code = Unknown desc = failed to build L[/bin/sh -c hack/make.sh binary]: runc did not terminate sucessfully
make[3]: *** [binary] Error 1
make[3]: Leaving directory `/home/centos/docker-ce/componen

The full l

[2020-01-08 21:05] hinews commented on #1301
@jingxiaolu

Maybe you can check it yourself in this way, build this simple Dockerfile with --build-arg HOSTNAME=newhost

[code]

[2020-01-08 22:07] tonistiigi commented on #1313
I can't easily see what could cause the id to repeat there so it must be something with your data. I also don't see if this is from imported or local cache without additional info. Could it be something like a duplicate copy instruction that triggers this?

[2020-01-08 22:12] bpaquet commented on #1313
I have that:
`
COPY --from=assets_builder /app/public/assets /app/public/assets
COPY --from=assets_builder /app/public/webpack /app/public/webpack
`

And yes, the problem seems to be just after.

[2020-01-08 22:22] tonistiigi commented on #1291
@jingxiaolu Yes. But more importantly, there is a rescan for a specific platform in the beginning of the build request if requested platform is not already supported.

[2020-01-08 22:27] tonistiigi commented on #1313
That's not exactly what I had in mind but could be related still. Can you try if you can put together a reproducer based on similar snippets to ease the debugging of this issue?

[2020-01-08 22:51] bpaquet commented on #1313
Without the second copy, the build succeed. So it's definitely related :) Nice catch.

I will try to setup a full test case tomorrow. But do you have any hint where the problem can be? (easier for me to patch and test with the real config).

[2020-01-09 09:51] MYDIH opened #1318 "Problem with DNS resolving while running in docker using cusom DNS"
Hi,

I'm using [img](https://github.com/genuinetools/img) in a docker image to build another docker image (buildception). You can get the Dockerfile I use to generate the image [here](https://gist.github.com/MYDIH/7abb96df54b74bb46514b62b62d45dea). When I'm using the image in a normal scenario, meaning testing directly from my dev env using Docker defaults while running the image, I do not have an

[2020-01-09 17:01] the21st commented on #720
@haizaar The Google issue you listed earlier seems to be fixed now: https://issuetracker.google.com/issues/123043691#comment6

Does this mean this could be resolved?

[2020-01-09 20:04] eSoares commented on #1312
Same issue.
Trying to mount `/tmp file fails for example.

Dockerfile used:
[code]

Error:
[code]

[2020-01-09 21:24] eedwards-sk commented on #409
really dropping the ball here, quay

[2020-01-09 22:07] eSoares commented on #1312
From my understanding "--mount" on the context of build only accesses files/folders on the build context.

This seems a bit counter intuitive since uses part of the same syntax as `docker run` but with differences that are breaking.

A simple solution would be if the dockerfile references a file/folder by its full path (instead of a relative path), a bind to outside folder should be made.
Maybe an

[2020-01-09 22:55] bpaquet commented on #1313
I did a lot of tests, I confirm the problem disappear if I remove the second copy.

I'm still trying to have a simple case failing, but did not succeed to write it :(

[2020-01-10 00:23] tonistiigi commented on #1318
You can set custom dns configuration for buildkit in the config file https://github.com/moby/buildkit/blob/master/cmd/buildkitd/config/config_test.go#L55-L58 . Not sure if any of this is exposed in img, you should ask in that repo. Inside custom networks dns is exposed in 127.0.0.1 and it isn't used automatically because it is likely not going to work if buildkit containers run on an isolated netw

[2020-01-10 00:26] tonistiigi commented on #1312
`--mount=type=bind` is not a bind mount from the client but from the build context or another stage. Another reason why the above example would not work is that mounts are readonly by default.

[2020-01-10 00:26] #1312 closed

[2020-01-10 00:35] tonistiigi commented on #1304
Not sure if this is the issue but using `RUN --security=insecure` in a build does not mean that the resulting image will run with elevated privileges. If your entrypoint requires privileges to run you still need to pass the extra privileges with `docker run`.

[2020-01-10 00:38] tonistiigi commented on #1302
What's the difference? As `prepareSyncedDirs` mostly does validation of user data it doesn't hurt to check it as soon as possible and fail early.

[2020-01-10 01:01] tonistiigi commented on #1300
`CopyOp` wildcards support is based on https://golang.org/pkg/path/filepath/#Match so current implementation does not support `**`

[2020-01-10 06:39] MYDIH commented on #1318
Thanks a lot !

[2020-01-10 06:39] #1318 closed

[2020-01-10 10:42] bpaquet opened #1319 "Buildkit crash in cachemanager"
Hello,

I'm experiencing some crashed of docker 19.03.5, using buildkit:
[code]

@tonistiigi , still around the same piece of code :(

Any hint?

Thx

[2020-01-10 12:27] satazor commented on #1251
I'm having the exact problem with a CI/CD pipeline between shared runners and private runners. Cache is only reused if a private runner uses `--cache-from` pointing to an image made from a private runner as well. The same applies to shared runners: cache is only reused if a shared runner uses `--cache-from` pointing to an image made from a shared runner as well.

@kindritskyiMax did you managed to

[2020-01-10 12:55] carlosgalvezp opened #1321 "Image built with missing layers (size = 0B) !!"
Hi,

We recently switched over to buildkit for building our docker images (via DOCKER_BUILDKIT=1) to take advantage of the latest features, such as secrets.
Our Dockerfile performs a multi-stage build with N temporary images. In the final image, we copy contents (built binaries) from these N temporary images into the final image.

We build our images in a CI fashion. We also make use of cache via:

[2020-01-10 17:35] cpuguy83 opened #1322 "Deadlock on cache mounts"
I am experiencing deadlocks related to preparing cache mounts.

Here is a stack trace from one of my build agents:
https://gist.github.com/cpuguy83/0e79cd121c780df71eb1cbbcbcc8f1e1

This has wedged most of my build agents (when they try to lookup a particular cache mount) and seems to happen rather easily.

I have setup my builds to generate stack dumps any time we end up cancelling (e.g. due to t

[2020-01-10 17:36] cpuguy83 commented on #1322
Comments from @tonistiigi on Slack:

[2020-01-10 19:11] JesterOrNot commented on #879
Any updates on this issue?

[2020-01-10 20:58] AkihiroSuda commented on #879
Needs help from Google

[2020-01-10 21:03] JesterOrNot commented on #879
So can anything be done?

[2020-01-10 21:42] AkihiroSuda commented on #879
Maybe https://github.com/AkihiroSuda/containerd-fuse-overlayfs can be a solution, but blocked due to go mod hell
#1297

[2020-01-10 22:08] JesterOrNot commented on #879
Can I do anything to help?

[2020-01-10 22:15] AkihiroSuda commented on #879
Another way is to replace the failing mount flags
with what "unshare -rm mount" example in the top comment of this issue uses.

This needs more investigation and help is appreciated, thanks.

[2020-01-10 22:18] JesterOrNot commented on #879
So you want to change the error? (sorry I'm new)

[2020-01-10 22:20] AkihiroSuda commented on #879
"unshare -rm mount" example doesn't produce any error, and we want to avoid BuildKit error by using the same mount flags

[2020-01-11 08:25] jingxiaolu commented on #1302
Put it here does validation of user data, and fail early. Got it!

[2020-01-11 08:25] #1302 closed

[2020-01-11 10:47] kindritskyiMax commented on #1251
I didn't solve exactly this problem with builtin cache reuse.
But I've found another solution, not perfect but at least allows to reduce amount of building on dev machine.

### Workaround.

I've created a python script that calculates the checksum of some files which are considered as dependencies Dockerfile relies on. For example, for a python project, I have `requirements.txt` and `requirements-

[2020-01-11 20:54] hinews commented on #1304
I used it to change /etc/hosts and to run hostname command with specific hostname

[2020-01-13 13:54] scaytrase commented on #1321
If you are using secrets, maybe you are facing the same issue we did. Something is broken in `master-experimental`. Latest build of new features which runs OK for us is

[code]

All other gives us things like
[code]

which seems related to broken images, since event running simple `RUN ls -lsa` gives us an error on inherited image

[2020-01-13 14:34] thaJeztah commented on #797
^^ for the CSV, the quotes should be around the `names=xx,xx,xx` because that's a single "field" in the CSV, so;

[code]

(possibly with escaping the quote if needed to take the shell into account, as mentioned above)

[2020-01-13 19:12] tonistiigi commented on #1304
@hinews You should be able to do this temporarily (although I think /etc/hosts in readonly in buildkit) but you can't hardcode these values into the exported image.

[2020-01-13 19:17] cpuguy83 commented on #1322
I know where my concurrency is coming from.
I end up building several go binaries (all the moby things) simultaneously as part of the build because of stage parallelization.

[2020-01-13 20:34] hinews commented on #1304
Hi @tonistiigi

Yes, I used this feature only for uild stage to change hostname in the build layers. With  using _**RUN --security=insecure**_ I can do. but issue is not in it, anyway we can close this as we found solution without requiring additional entitlement as it solved in #1301

[2020-01-13 20:34] #1304 closed

[2020-01-14 01:11] tonistiigi commented on #1321
@scaytrase If you have an issue with secrets on the master branch please create a new issue with a reproducer.

[2020-01-14 02:01] AkihiroSuda opened #1325 "containerd worker: support rootless mode"
containerd worker hadn't been implemented for rootless mode simply because nobody seemed using containerd worker.

https://github.com/ibuildthecloud/k3c uses containerd worker and plans to support rootless mode.

Supporting rootless is easy, but containerd and buildkitd need to be executed inside same RootlessKit instance

[2020-01-14 02:02] AkihiroSuda opened #1326 "rootless: allow enabling CNI when running with slirp4netns/VPNKit/lxc-user-nic"
CNI mode should be available even for rootless mode, when rootlesskit was launched with `--net=(slirp4netns|vpnkit|lxc-user-nic)`.

[2020-01-14 02:03] AkihiroSuda commented on #1325
cc @ibuildthecloud

[2020-01-14 08:13] scaytrase commented on #1321
I managed to create reproducing case, will report standalone issue

[2020-01-14 08:22] scaytrase opened #1327 "regression in master-experimental gateway frontends with older daemons"
Given a build described here

https://github.com/scaytrase/docker-experimental-syntax-issue

I run `make build` and receive the following error

[code]

(could be any command, even `RUN echo ""` fails the same way)

Rolling back syntax to  `20191217-secrets`. Any syntax later than this fails with the same error

https://github.com/scaytrase/docker-experimental-syntax-issue/blob/fixed/intermediate/

[2020-01-14 08:22] scaytrase commented on #1321
https://github.com/moby/buildkit/issues/1327

[2020-01-14 18:56] tonistiigi commented on #1327
@hinshun Seems that this broke with #1269 . To test build any dockerfile with `#syntax=docker/dockerfile-upstream/master-experimental` with Docker 19.03, then run inspect on the   resulting image and look at the empty layers in the rootfs field. PTAL

[2020-01-14 19:08] imayobrown commented on #1308
Thanks for the quick fix!

[2020-01-14 22:40] hinshun commented on #1327
@tonistiigi Looking into this

[2020-01-15 03:24] #1321 closed

[2020-01-15 03:24] #1327 closed

[2020-01-15 03:30] #1308 closed

[2020-01-15 03:30] #1319 closed

[2020-01-15 12:08] 56KBs opened #1330 "COPY cache not re-used depending on SELinux environment"
Opened as requested by @thaJeztah in https://github.com/moby/moby/issues/39003#issuecomment-574615437_

When attempting to `docker build` with `--cache-from` the cache for COPY (and presumably ADD) commands is ignored if the two systems do not both use SELinux.

For example, if you were to build an image on Ubuntu (No SELinux) and use the image as a cache in CentOS (SELinux enabled by default), th

[2020-01-16 00:38] tonistiigi opened #1331 "add way to test gateway API backwards compatibility"
Currently, there is no way to test that old daemons continue to work with new releases of the gateway frontend (eg. external dockerfile frontends). We have had issues at least 2 times and manual testing is not enough.

I suggest making a new test script that can take 2 commits. Build integration-tests stage for the first and external dockerfile frontend(+experimental) for the other. Merge them tog

[2020-01-16 10:01] thaJeztah commented on #1099
@FernandoMiguel this still an issue?

[2020-01-16 10:05] FernandoMiguel commented on #1099
@thaJeztah  i no longer have access to the underlying code base to try to reproduce

[2020-01-17 01:37] tonistiigi opened #1334 "goroutine leakage if context cancellation removed from scheduler"
see https://github.com/moby/buildkit/pull/1316

A quick fix was done but it would be good to have a secondary fix so leakage wouldn't appear in component level as well.

[2020-01-17 09:24] drodriguezhdez opened #1336 "--export-cache option crashes buildkitd on custom frontend"
[code]

Hi,

I'm creating a PoC for a new buildkit frontend for Maven (which download the code and execute the tests).

It seems that the `--export-cache` option in the `buildctl` command is crashing the `buildkitd` container.

After command enters into the export cache phase, it returns the following message

[code]
Killing the `buildkitd` container.

Command to reproduce:
[code]

Using `export-c

[2020-01-17 09:26] drodriguezhdez commented on #1336
/cc @fermayo @tonyredondo

[2020-01-17 15:54] gyliu513 commented on #409
@eedwards-sk  so what is the plan to support registry v2 schema2 ? Thanks !

[2020-01-17 20:05] tonistiigi commented on #1336
@drodriguezhdez is there source code for `codescope/mavenfile-test`?

[2020-01-18 05:10] diclophis commented on #838
I had more luck when I specified the port number in my flag... `--output type=image,name=my-registry-svc:443/my-image:my-tag,push=true `

[2020-01-19 09:32] alexellis commented on #1241
Hi @tonistiigi @AkihiroSuda, do you know if it's possible to override the platform when using the Buildkit SDK as we do in OpenFaaS Cloud? https://github.com/openfaas/openfaas-cloud/blob/master/of-builder/main.go#L194

[2020-01-21 08:06] drodriguezhdez opened #1337 "[Proposal] Define containers as RunOptions?"
Hi,

Working on a PoC of a custom Buildkit frontend to execute tests of a certain git repo, we'd like to validate with you guys the idea of using containers as support of a certain `llb.State` in the Buildkit DAG.

The use case would be, in this case,  to run integration tests which need a certain containers which run in the same network namespace, and which lifecycle is bounded to a certain `llb.

[2020-01-21 08:07] drodriguezhdez commented on #1337
/cc @fermayo @tonyredondo

[2020-01-21 11:29] drodriguezhdez commented on #1336
Hi @tonistiigi, Thanks for the response.

I created a repository with the minimum amount of code which reproduces this issue.
Find it here: https://github.com/drodriguezhdez/buildkit-cache-sandbox

Command:
[code]

### Findings:

It seems that if in the file `builder/build.go`, in this code

[code]
makes the `--export-cache` fails.

But, if the second copy from `buildInterm` to `buildFinal` is rem

[2020-01-21 23:35] tonistiigi commented on #1337
Yes, I think this is in BuildKit scope. I call this a network dependency. For caching/dag this is a dependency like any other but it runs in a separate container and exposes name/ip (or tcp port/unix socket if we want to keep this simpler) to another process for discovery. The executor can also do simple socket activation for lazy loading and containers do not need to run in the same machine.

I d

[2020-01-22 11:08] nottrobin opened #1338 "[proposal] Add ability to explicitly avoid caching a layer in the Dockerfile"
It would be great to have the ability to tell Docker not to cache a particular line in the Dockerfile - this would of course have the effect of everything downstream of that layer also never being cached.

I don't know if this could be a `--mount-type` or something:

[code]

People hack this currently with things like `--build-arg TIMESTAMP=$(date +%s)` which they then use in the build somewhere,

[2020-01-22 13:22] bokysan commented on #1222
I'm also running into this issue quite often.

Build in `buildctl` would complete and fail near the end:
[code]
Buildkit daemon does have one error in the log (although this has happened more than once):
[code]

`buildkitd` (master) is deployed in Kubernetes + Calico and `buildctl` is executed from another pod:
[code]

[2020-01-22 13:57] drodriguezhdez opened #1340 "Building a Dockerfile using external frontend dockerfile creates images without entrypoint"
[code]

Hi,

If a Dockerfile is built using `--frontend=gateway.v0 --opt source=docker/dockerfile` of a repository which contains the directive `#syntax`, the output image does not contain an entrypoint.

I've tested it using `#syntax=docker/dockerfile` and `#syntax=docker/dockerfile:experimental` and same result is obtained: the image does not have entrypoint.

If the `--frontend=dockerfile.v0` i

[2020-01-23 00:21] willejs commented on #409
@jzelinskie can i get OCI & V2.2 enabled on the ometria org please?

[2020-01-23 00:26] lucasantarella commented on #1078
Can also confirm that
`sudo apt install gnome-keyring` fixed the issue for me.

This seems to be a KDE Neon related issue. @DimanNe can you confirm if you are on Kubuntu?

[2020-01-23 02:54] jingxiaolu commented on #1291
@tonistiigi
Currently in `SupportedPlatforms()` there has a `once.Do()` and the checkings are wrapped by it. We need remove this `once.Do()`?

If so, when buildkitd boots up, it may scans platforms **twice** here:
[code]

[2020-01-23 07:29] drodriguezhdez commented on #1337
Thanks for your quick feedback!

Nice to hear that. We're going to start working in a POC in a `Buildkit` fork to try to reach this feature based on your API proposal.

Thanks!

[2020-01-23 14:36] DimanNe commented on #1078
@lucasantarella Yep, you are right, I am using Kubuntu.

[2020-01-24 00:41] #751 closed

[2020-01-24 15:55] firecow commented on #914
This bug is still present even after latest 2.2.0.0 (42247) update.
`docker build --ssh default=~/.ssh/id_rsa .` still "works".
Not being able to use the ssh-agent is kind of a pain, and forces big projects to have developers put a non-password protected key in ~/.ssh/id_rsa

[2020-01-27 23:19] EmbeddedAndroid opened #1349 "Buildkit fails on armhf"
Using the following Dockerfile:

[code]

Building with this command:

```DOCKER_BUILDKIT=1 docker -v build --progress=plain -t foo .```

The docker daemon panics with the following:

[code]

The same Dockerfile and build commands work fine on aarch64 and amd64. The workaround is to do this:

[code]

Is this an alignment issue in the buildkit image pull process?

[2020-01-28 00:31] tonistiigi commented on #1349
@EmbeddedAndroid What version of docker?

[2020-01-28 00:40] EmbeddedAndroid commented on #1349
@tonistiigi docker-ce/19.03.2-ce+git6a30dfca03664a0b6bf0646a7d389ee7d0318e6e

[2020-01-28 00:42] tonistiigi commented on #1340
Tested and image didn't have an entrypoint both with and without `#syntax`. Seems expected from that configuration.

[2020-01-28 00:45] tonistiigi commented on #1349
This was patched in 19.03.3 https://github.com/docker/engine/commit/776c2bd1137e00b97b4913226f92db2c293012fa

[2020-01-28 00:46] EmbeddedAndroid commented on #1349
@tonistiigi ok thanks for the pointer, I'll give that a try.

[2020-01-28 00:51] tonistiigi commented on #1338
buildkit/buildctl supports no-cache by stage name.

[code]

`no-cache=git-checkout`, but it isn't currently exposed in docker cli afaik

[2020-01-28 04:05] EmbeddedAndroid commented on #1349
@tonistiigi confirmed the issue is not present using DIND  image on an armhf host. However we are seeing a different failure trying to build armhf images on an aarch64 host now. I'll close this issue, and when we have a few more traces I'll open another issue. Thanks for your help!

[2020-01-28 04:05] #1349 closed

[2020-01-29 01:15] barrelmaker97 commented on #978
Have run into this issue as well trying to build an image that uses a Redis instance for testing during the build process. Any updates?

[2020-01-29 03:00] EmbeddedAndroid commented on #1349
@tonistiigi fwiw, this was our issue on building armhf on aarch64 https://github.com/containerd/containerd/issues/3990

[2020-02-01 20:45] tvon opened #1354 "Output `type=docker` creates config and layers without file extensions"
[code]

I'm not an expert in this area (or Go) but [it looks like `docker load` handles this fine because the daemon never looks at the file extensions in the manifest, instead it detects the layer content and acts appropriately](https://github.com/moby/moby/blob/513b207b002dfe070705d790326f731a803cf68d/pkg/archive/archive.go#L200-L230).

Other tools rely on the filename extensions to determine wh

[2020-02-01 21:10] tvon commented on #1354
FWIW, if anyone else is running into this I [hacked together a fairly dumb script to rewrite the tarball](https://gist.github.com/tvon/a62214743b08204d1cfb5f15e4354efd).

[2020-02-02 17:09] tonistiigi commented on #871
Reopening as this was only implemented in the protobuf wire definition.

[2020-02-03 02:09] tonistiigi commented on #1354
The tarball exported by buildkit is based on Docker Image Specification v1.1.0 https://github.com/moby/moby/blob/master/image/spec/v1.1.md (as well as OCI) introduced in 2015 . The spec used before Docker v1.9 was 1.0 that used fixed file layout while 1.1 uses a `manifest.json` file for locating the files in a tarball. Containerd exporter that buildkit uses has dropped compatibility with 1.0 spec

[2020-02-03 02:09] #1354 closed

[2020-02-03 10:34] jauninb commented on #797
@thaJeztah @tonistiigi I am facing the same issue that @sethpollack have.
I wrosk using the deprecated --exporter-opt but not using --output
Do you have a working example ?

[2020-02-04 14:04] DavG commented on #816
Same problem here.

I cannot reference another stage, or even another image, with ONBUILD COPY --from :(

[2020-02-04 14:08] sirlatrom commented on #816
You _can_ if you add a dummy `COPY --from=<previous layer> /dummy /dummy` (assuming `/dummy exists in source image). That will add an explicit dependency. It's a workaround, even if inconvenient.

[2020-02-04 14:30] DavG commented on #816
I know this trick to force some intermediate stages to build in "weird cases", but I don't see how it is related to the problem here.

[2020-02-04 14:40] DavG commented on #816
It even does not work with a external image.

Minimum example to reproduce :

**template/Dockerfile**

    FROM php:7.4.2-fpm-buster
    ONBUILD COPY --from=composer:1.9.2 /usr/bin/composer /usr/bin/composer

**project/Dockerfile**

    FROM bug_template

**build.sh**

    DOCKER_BUILDKIT=1 docker build ./template --tag bug_template
    DOCKER_BUILDKIT=1 docker build ./project

[2020-02-04 17:19] sirlatrom commented on #816
The "trick" is to add a step in the bug image that copies a known-to-exist file from the composer image. That could also be done by creating a prior stage (from the composer image) in the bug image that adds such a dummy file so you can control which it is.

[2020-02-04 18:36] DavG commented on #816
Ok, let's try it :

**template/Dockerfile**

    FROM php:7.4.2-fpm-buster
    COPY --from=composer:1.9.2 /etc/passwd /etc/passwd_composer
    ONBUILD COPY --from=composer:1.9.2 /usr/bin/composer /usr/bin/composer

Same error.

[2020-02-04 18:39] sirlatrom commented on #816
I meant the new copy instruction should be placed in the last, most downstream image

[2020-02-04 18:42] DavG commented on #816
Could you provide a working fix based on my minimal example ?

[2020-02-05 10:05] sirlatrom commented on #816
Note that the use of images instead of stage names in `COPY --from` is not documented, so you should use probably stage aliases as shown.

./template/Dockerfile:
[code]

./project/Dockerfile:
[code]

[code]

[2020-02-06 21:25] daveisfera opened #1358 "docker rmi doesn't remove unused layers with buildkit"
With the legacy `docker build` command, running `docker rmi <my_image>` would remove all of the unused layers, but when using `DOCKER_BUILDKIT=1`, it will just untag the image and leave the layers. It appears that `docker builder prune` has to be run to clean up those layers and then all of the dangling layers are removed instead of just the one that you wanted to removed